sas-core/main/default/flows/CASE_Create_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>ASSIGN_ACCOUNT_FROM_EB_NUMBER_FILTER</name>
        <label>ASSIGN ACCOUNT FROM EB NUMBER FILTER</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>CURRENT_ACCOUNT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_COLLECTION_EB_NUMBER</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_COLLECTION_EB_NUMBER</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_ACCOUNT_FROM_EMAIL</name>
        <label>ASSIGN ACCOUNT FROM EMAIL</label>
        <locationX>706</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>CURRENT_ACCOUNT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_COLLECTION_EMAIL_ACCOUNT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_COLLECTION_EMAIL_ACCOUNT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_EB_NUMBER_COUNT</name>
        <label>ASSIGN EB NUMBER COUNT</label>
        <locationX>158</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>COUNT_COLLECTION_ELEMENTS</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GET_EB_ACCOUNT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EB_ACCOUNT_FOUND</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_EMAIL_NUMBER_COUNT</name>
        <label>ASSIGN EMAIL NUMBER COUNT</label>
        <locationX>726</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>COUNT_COLLECTION_ELEMENTS</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GET_EMAIL_ACCOUNT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EMAIL_ACCOUNT_FOUND</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CHECK_IF_CASE_HAS_EB_NUMBER_OR_EMAIL</name>
        <label>CHECK IF CASE HAS EB NUMBER OR EMAIL</label>
        <locationX>628</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HAS_EB_NUMBER</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.FCS_EBNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_EB_ACCOUNT</targetReference>
            </connector>
            <label>HAS EB NUMBER</label>
        </rules>
        <rules>
            <name>HAS_EMAIL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_EMAIL_ACCOUNT</targetReference>
            </connector>
            <label>HAS EMAIL</label>
        </rules>
    </decisions>
    <decisions>
        <name>EB_ACCOUNT_FOUND</name>
        <label>EB ACCOUNT FOUND</label>
        <locationX>158</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ACCOUNT_FOUND_EB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COUNT_COLLECTION_ELEMENTS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOOP_COLLECTION_EB_NUMBER</targetReference>
            </connector>
            <label>ACCOUNT FOUND</label>
        </rules>
    </decisions>
    <decisions>
        <name>EMAIL_ACCOUNT_FOUND</name>
        <label>EMAIL ACCOUNT FOUND</label>
        <locationX>726</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ACCOUNT_FOUND_EMAIL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COUNT_COLLECTION_ELEMENTS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOOP_COLLECTION_EMAIL_ACCOUNT</targetReference>
            </connector>
            <label>ACCOUNT FOUND</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CASE Create Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CASE Create Account</label>
    <loops>
        <name>LOOP_COLLECTION_EB_NUMBER</name>
        <label>LOOP COLLECTION EB NUMBER</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>GET_EB_ACCOUNT</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASSIGN_ACCOUNT_FROM_EB_NUMBER_FILTER</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GET_ACCOUNT_RECORD_TYPE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LOOP_COLLECTION_EMAIL_ACCOUNT</name>
        <label>LOOP COLLECTION EMAIL ACCOUNT</label>
        <locationX>618</locationX>
        <locationY>566</locationY>
        <collectionReference>GET_EMAIL_ACCOUNT</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASSIGN_ACCOUNT_FROM_EMAIL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GET_ACCOUNT_RECORD_TYPE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CREATE_ACCOUNT</name>
        <label>CREATE ACCOUNT</label>
        <locationX>628</locationX>
        <locationY>1142</locationY>
        <connector>
            <targetReference>UPDATE_CASE_WITH_ACCOUNT</targetReference>
        </connector>
        <inputAssignments>
            <field>FCS_EBLevel__c</field>
            <value>
                <elementReference>CURRENT_ACCOUNT.EBLevel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FCS_EBNumber__c</field>
            <value>
                <elementReference>CURRENT_ACCOUNT.EBNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>CURRENT_ACCOUNT.FirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>CURRENT_ACCOUNT.LastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>CURRENT_ACCOUNT.EmailPersonal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>CURRENT_ACCOUNT.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GET_ACCOUNT_RECORD_TYPE.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GET_ACCOUNT_RECORD_TYPE</name>
        <label>GET ACCOUNT RECORD TYPE</label>
        <locationX>628</locationX>
        <locationY>1034</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CREATE_ACCOUNT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EBCustomer</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_EB_ACCOUNT</name>
        <label>GET EB ACCOUNT</label>
        <locationX>158</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASSIGN_EB_NUMBER_COUNT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EBNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.FCS_EBNumber__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FCS_FrequentFlyer__x</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_EMAIL_ACCOUNT</name>
        <label>GET EMAIL ACCOUNT</label>
        <locationX>726</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASSIGN_EMAIL_NUMBER_COUNT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EmailPersonal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.SuppliedEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FCS_FrequentFlyer__x</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UPDATE_CASE_WITH_ACCOUNT</name>
        <label>UPDATE CASE WITH ACCOUNT</label>
        <locationX>628</locationX>
        <locationY>1250</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>CREATE_ACCOUNT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FCS_EBLevel__c</field>
            <value>
                <elementReference>CURRENT_ACCOUNT.EBLevel__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>502</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CHECK_IF_CASE_HAS_EB_NUMBER_OR_EMAIL</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>COUNT_COLLECTION_ELEMENTS</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CURRENT_ACCOUNT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FCS_FrequentFlyer__x</objectType>
    </variables>
    <variables>
        <name>CURRENT_CONTACT_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_EB_NUMBER_FILTER</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FCS_FrequentFlyer__x</objectType>
    </variables>
    <variables>
        <name>currentItem_EMAIL_FILTER</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FCS_FrequentFlyer__x</objectType>
    </variables>
    <variables>
        <name>currentItem_MOBILE_FILTER</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FCS_FrequentFlyer__x</objectType>
    </variables>
</Flow>
