sas-core/main/default/flows/Case_After_Seven_Days_Subflows.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Route_Case</name>
        <label>Route Case</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <actionName>RouteCaseAndSetPriority</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseToRoute</name>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_New_Owner_Id_Queue</name>
        <label>Set New Owner Id - Queue</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>newOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Group_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>previousOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fullUserName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_parent_Record_Else</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Claim_Case</name>
        <label>If Claim Case</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Set_New_Owner_Id_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Claim_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Claim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_parent_Record</targetReference>
            </connector>
            <label>Claim Case</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>queueName</name>
        <dataType>String</dataType>
        <expression>IF({!CaseRecord.RecordType.Name} = &apos;Emergency&apos;, &apos;Emergency&apos;, TEXT({!CaseRecord.Department__c}))</expression>
    </formulas>
    <interviewLabel>Case After Seven Days Subflows {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case After Seven Days Subflows</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Group_Id</name>
        <label>Get Group Id</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Claim_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>queueName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_parent_Record</name>
        <label>Update parent Record</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Route_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Group_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Owner__c</field>
            <value>
                <elementReference>fullUserName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>newStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_parent_Record_Else</name>
        <label>Update parent Record</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>newOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Owner__c</field>
            <value>
                <elementReference>fullUserName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>newStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Group_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>fullUserName</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!CaseRecord.Owner:User.FirstName} {!CaseRecord.Owner:User.LastName}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>newOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New Response</stringValue>
        </value>
    </variables>
    <variables>
        <name>previousOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
