sas-core/main/default/flows/Case_Status_Open_Subflows.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Variable</name>
        <label>Assign Variable</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>newStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Response</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_After_Seven_Days_Subflows</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignVar</name>
        <label>AssignVar</label>
        <locationX>468</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>newStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Response</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_User_Last_Login</name>
        <label>Check User Last Login</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assign_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Login- More than 7 days</defaultConnectorLabel>
        <rules>
            <name>Login_less_than_7_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userLastLoginDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>sevenDaysago</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User_Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Owner_of_New_Response</targetReference>
            </connector>
            <label>Login - less than 7 days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Type</name>
        <label>Owner Type</label>
        <locationX>468</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>AssignVar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Record</targetReference>
            </connector>
            <label>Owner - User</label>
        </rules>
        <rules>
            <name>Owner_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignVar</targetReference>
            </connector>
            <label>Owner - Queue</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>sevenDaysago</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - 7</expression>
    </formulas>
    <formulas>
        <name>userLastLoginDate</name>
        <dataType>DateTime</dataType>
        <expression>{!Get_User_Record.LastLoginDate}</expression>
    </formulas>
    <interviewLabel>Case Status Open Subflows {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Status Open Subflows</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_User_Record</name>
        <label>Get User Record</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_Last_Login</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>468</locationX>
        <locationY>950</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>newOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Owner__c</field>
            <value>
                <elementReference>previousOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>newStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Owner_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Case_After_Seven_Days_Subflows</name>
        <label>Case After Seven Days Subflows</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>AssignVar</targetReference>
        </connector>
        <flowName>Case_After_Seven_Days_Subflows</flowName>
        <inputAssignments>
            <name>CaseRecord</name>
            <value>
                <elementReference>CaseRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newStatus</name>
            <value>
                <elementReference>newStatus</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Notify_Owner_of_New_Response</name>
        <label>Notify Owner of New Response</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>AssignVar</targetReference>
        </connector>
        <flowName>UTIL_Send_Notification_to_User</flowName>
        <inputAssignments>
            <name>notificationBody</name>
            <value>
                <elementReference>newResponseNotificationBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>notificationTitle</name>
            <value>
                <elementReference>newResponseNotificationTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>notificationType</name>
            <value>
                <stringValue>NewResponse</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>targetId</name>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>CaseRecord.OwnerId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>newResponseNotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You have a new response on Case: {!CaseRecord.CaseNumber} that you are the owner of.</text>
    </textTemplates>
    <textTemplates>
        <name>newResponseNotificationTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New Response from Customer {!CaseRecord.CaseNumber}</text>
    </textTemplates>
    <textTemplates>
        <name>previousOwner</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!CaseRecord.Owner:User.FirstName} {!CaseRecord.Owner:User.LastName}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>newOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New Response</stringValue>
        </value>
    </variables>
</Flow>
