sas-core/main/default/flows/CASE_Create_CSI_Claim_Survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Check_if_case_is_Closed</name>
        <label>Check if case is Closed</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FCS_SurveyInvitationLink__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Survey_Invitation_Link</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CASE Create CSI Claim Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CASE Create CSI Claim Survey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>1 AND (2 OR 3 OR 8) AND (4 AND 5 AND 6 AND 7)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Customer_Claim_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flight disruptions</stringValue>
            </value>
        </filters>
        <filters>
            <field>Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flight Delay Certificate</stringValue>
            </value>
        </filters>
        <filters>
            <field>Compensation_Reject_Reason__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Duplicate case</stringValue>
            </value>
        </filters>
        <filters>
            <field>Compensation_Reject_Reason__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Fraud</stringValue>
            </value>
        </filters>
        <filters>
            <field>Expenses_Reject_Reason__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Duplicate case</stringValue>
            </value>
        </filters>
        <filters>
            <field>Expenses_Reject_Reason__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Fraud</stringValue>
            </value>
        </filters>
        <filters>
            <field>Customer_Claim_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Compensation Card</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X5Days_After</name>
            <connector>
                <targetReference>Check_if_case_is_Closed</targetReference>
            </connector>
            <label>5Days After</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>ClosedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Generate_Survey_Invitation_Link</name>
        <label>Generate Survey Invitation Link</label>
        <locationX>242</locationX>
        <locationY>384</locationY>
        <flowName>CASE_Generate_Survey_Invitation</flowName>
        <inputAssignments>
            <name>caseRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
