sas-core/main/default/flows/CASE_Update_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Reject_Reason</name>
        <label>Assign Reject Reason</label>
        <locationX>512</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>GetCurrentCaseInformation.Compensation_Reject_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Compensation_Reject_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCurrentCaseInformation.Expenses_Reject_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expenses_Reject_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_StatusLiabilityCases</name>
        <label>Assign StatusLiability</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>GetCurrentCaseInformation.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StatusLiabilityCases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Settlements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_StatusNonLiabilityCases</name>
        <label>Assign StatusNonLiability</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>GetCurrentCaseInformation.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StatusNonLiabilityCases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Settlements</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Awaiting</name>
        <choiceText>Awaiting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Awaiting</stringValue>
        </value>
    </choices>
    <choices>
        <name>AwaitingCustomerResponse</name>
        <choiceText>Awaiting Customer Response</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Awaiting Customer Response</stringValue>
        </value>
    </choices>
    <choices>
        <name>Closed</name>
        <choiceText>Closed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed</stringValue>
        </value>
    </choices>
    <choices>
        <name>InProgress</name>
        <choiceText>In Progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewResponse</name>
        <choiceText>New Response</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Response</stringValue>
        </value>
    </choices>
    <choices>
        <name>OnHold</name>
        <choiceText>On Hold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>On Hold</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_claim_result_necessary_for_updating_case_status</name>
        <label>Is claim result necessary for updating case status?</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Assign_StatusLiabilityCases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not required</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is_required</name>
            <conditionLogic>1 AND 2 AND (3 or 4)</conditionLogic>
            <conditions>
                <leftValueReference>StatusLiabilityCases</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Closed</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCurrentCaseInformation.LIA_Claim__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCurrentCaseInformation.LIA_Claim__r.Result__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCurrentCaseInformation.LIA_Claim__r.Result__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation_Error</targetReference>
            </connector>
            <label>Yes, it is required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Profile_Allowed_To_Make_Changes</name>
        <label>Is Profile Allowed To Make Changes</label>
        <locationX>586</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Is_the_case_record_type_and_department_valid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Allowed</defaultConnectorLabel>
        <rules>
            <name>Not_Allowed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsProfileAllowedToMakeChanges</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Allowed_To_Make_Changes</targetReference>
            </connector>
            <label>Not Allowed</label>
        </rules>
    </decisions>
    <decisions>
        <description>It validates the latest case record type and department of the case before making a status update</description>
        <name>Is_the_case_record_type_and_department_valid</name>
        <label>Is the case record type and department valid?</label>
        <locationX>1122</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Department_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid case record type and department</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is_Customer_Claim_or_Claim</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>GetCurrentCaseInformation.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Claim</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCurrentCaseInformation.Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Claim</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCurrentCaseInformation.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Claim</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCurrentCaseInformation.Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liability</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_the_status_valid_for_update</targetReference>
            </connector>
            <label>Yes, it is Customer Claim or Claim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_department_Liability</name>
        <label>Is the department Liability?</label>
        <locationX>644</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>UpdateStatusNonLiabilityCases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Liability</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCurrentCaseInformation.Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liability</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStatusLiabilityCases</targetReference>
            </connector>
            <label>Yes, Liability</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_status_valid_for_update</name>
        <label>Is the status valid for update?</label>
        <locationX>875</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Invalid status</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetCurrentCaseInformation.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCurrentCaseInformation.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCurrentCaseInformation.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCurrentCaseInformation.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCurrentCaseInformation.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Customer Response</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCurrentCaseInformation.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Response</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCurrentCaseInformation.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCurrentCaseInformation.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_the_department_Liability</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Reject_Reason_Be_Defined</name>
        <label>Should Reject Reason Be Defined?</label>
        <locationX>644</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>UpdateStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes0</name>
            <conditionLogic>1 AND 6 AND ((2 AND 3) OR (4 AND 5))</conditionLogic>
            <conditions>
                <leftValueReference>Get_Settlements</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isCompensationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCurrentCaseInformation.Compensation_Reject_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isExpenseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCurrentCaseInformation.Expenses_Reject_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCurrentCaseInformation.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Specify_Reject_Reason</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>compensationRejectReasons</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Compensation_Reject_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>expenseRejectReasons</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Expenses_Reject_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>isCompensationType</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!GetCurrentCaseInformation.Customer_Claim_Type__c}, &apos;compensation&apos;)</expression>
    </formulas>
    <formulas>
        <name>isExpenseType</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!GetCurrentCaseInformation.Customer_Claim_Type__c}, &apos;expenses&apos;)</expression>
    </formulas>
    <interviewLabel>CASE Update Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CASE Update Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Settlements</name>
        <label>Get Settlements</label>
        <locationX>644</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Should_Reject_Reason_Be_Defined</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Claim__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCurrentCaseInformation.LIA_Claim__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Settlement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCurrentCaseInformation</name>
        <label>GetCurrentCaseInformation</label>
        <locationX>586</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_Permissions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateStatus</name>
        <label>UpdateStatus</label>
        <locationX>644</locationX>
        <locationY>1898</locationY>
        <inputReference>GetCurrentCaseInformation</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Department_Error</name>
        <label>Department Error</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Department_Error_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please  press &quot;Finish&quot; to refresh the current case to see latest case information before updating the case&apos;s status&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>InvalidateStatusMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;The current status,{!GetCurrentCaseInformation.Status}, is not valid to make an update&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Allowed_To_Make_Changes</name>
        <label>Not Allowed To Make Changes</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NotAllowedText</name>
            <fieldText>&lt;p&gt;Not authorized to update the status for this case.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Specify_Reject_Reason</name>
        <label>Specify Reject Reason</label>
        <locationX>512</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Reject_Reason</targetReference>
        </connector>
        <fields>
            <name>Compensation_Reject_Reason</name>
            <choiceReferences>compensationRejectReasons</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Compensation Reject Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isCompensationType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Expenses_Reject_Reason</name>
            <choiceReferences>expenseRejectReasons</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Expenses Reject Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isExpenseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UpdateStatusLiabilityCases</name>
        <label>Update Status Liability Cases</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_claim_result_necessary_for_updating_case_status</targetReference>
        </connector>
        <fields>
            <name>StatusLiabilityCases</name>
            <choiceReferences>New</choiceReferences>
            <choiceReferences>InProgress</choiceReferences>
            <choiceReferences>Awaiting</choiceReferences>
            <choiceReferences>NewResponse</choiceReferences>
            <choiceReferences>Closed</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetCurrentCaseInformation.Status</elementReference>
            </defaultValue>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UpdateStatusNonLiabilityCases</name>
        <label>Update Status Non Liability Cases</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_StatusNonLiabilityCases</targetReference>
        </connector>
        <fields>
            <name>StatusNonLiabilityCases</name>
            <choiceReferences>New</choiceReferences>
            <choiceReferences>InProgress</choiceReferences>
            <choiceReferences>OnHold</choiceReferences>
            <choiceReferences>AwaitingCustomerResponse</choiceReferences>
            <choiceReferences>Closed</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetCurrentCaseInformation.Status</elementReference>
            </defaultValue>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Validation_Error</name>
        <label>Validation Error</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ValidationError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;Please pick a value for Result field in the Liability Claim before closing Case {!GetCurrentCaseInformation.CaseNumber}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>460</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCurrentCaseInformation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_User_Permissions</name>
        <label>Check User Permissions</label>
        <locationX>586</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Is_Profile_Allowed_To_Make_Changes</targetReference>
        </connector>
        <flowName>CASE_Check_User_Permissions</flowName>
        <inputAssignments>
            <name>CurrentCaseOwner</name>
            <value>
                <elementReference>GetCurrentCaseInformation.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProfileName</name>
            <value>
                <elementReference>$Profile.Name</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>IsProfileAllowedToMakeChanges</assignToReference>
            <name>ProfileAllowed</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>IsProfileAllowedToMakeChanges</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
