sas-core/main/default/flows/CASE_Check_User_Permissions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AllowedFalse</name>
        <label>AllowedFalse</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ProfileAllowed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Check if current user belongs to one of the specified profiles.</description>
        <name>Check_Profile_Name</name>
        <label>Check Profile Name</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Blacklisted_Profie</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vendor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Automation_Queue</targetReference>
            </connector>
            <label>Blacklisted Profie</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_User_Allowed_To_Change_Case_Data</name>
        <label>Is User Allowed To Change Case Data</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Allowed</defaultConnectorLabel>
        <rules>
            <name>Not_Allowed_To_Change_Case_Data</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentCaseOwner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Automation_Queue.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentCaseOwner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SAS_Automation_User.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentCaseOwner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SAS_Forms_Automation_User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AllowedFalse</targetReference>
            </connector>
            <label>Not Allowed</label>
        </rules>
    </decisions>
    <description>Check if user is allowed to edit specific Case fields</description>
    <environments>Default</environments>
    <interviewLabel>CASE Check User Permissions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CASE Check User Permissions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Automation_Queue</name>
        <label>Automation Queue</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SAS_Automation_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SAS Automation Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SAS_Automation_User</name>
        <label>SAS Automation User</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SAS_Forms_Automation_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>sasautomationprocess@sas.se</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SAS_Forms_Automation_User</name>
        <label>SAS Forms Automation User</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_User_Allowed_To_Change_Case_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>sasformsautomationprocess@sas.se</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Profile_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Get all the case information from the parent flow.</description>
        <name>CurrentCaseOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProfileAllowed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
