sas-core/main/default/flows/Case_Status_Closed_Subflows.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_template_email</name>
        <label>Send template email</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>SendEmailForReadOnlyCase</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseIds</name>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmailForReadOnlyCase</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_New_Owner_Id_User</name>
        <label>Set New Owner Id - User</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>newOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_Owner_of_New_Response</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>variable_Assign</name>
        <label>variable Assign</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>newStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Response</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Owner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Last_Login</name>
        <label>Check Last Login</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Case_After_Seven_Days_Subflows_after7Days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>More than 7 days</defaultConnectorLabel>
        <rules>
            <name>Less_than_7_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userLastLogin</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>sevenDaysago</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User_Records.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Owner_Id_User</targetReference>
            </connector>
            <label>Less than 7 days</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Owner</name>
        <label>New Owner</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Case_After_Seven_Days_Subflows</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Queue</defaultConnectorLabel>
        <rules>
            <name>Read_Only_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.IsReadOnly__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_template_email</targetReference>
            </connector>
            <label>Read Only Case</label>
        </rules>
        <rules>
            <name>User</name>
            <conditionLogic>1 AND  (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15)</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Claim</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Backoffice Sitel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Diamond DK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Diamond NO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Diamond SE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gold DK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gold NO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gold SE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Name Change</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAS Operating Center</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refunds</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liability</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Emergency</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EB Tier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Records</targetReference>
            </connector>
            <label>User</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>sevenDaysago</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - 7</expression>
    </formulas>
    <formulas>
        <name>userLastLogin</name>
        <dataType>DateTime</dataType>
        <expression>{!Get_User_Records.LastLoginDate}</expression>
    </formulas>
    <formulas>
        <name>userLastLoginDate</name>
        <dataType>DateTime</dataType>
        <expression>{!Get_User_Records.LastLoginDate}</expression>
    </formulas>
    <interviewLabel>Case Status Closed Subflows {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Status Closed Subflows</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_User_Records</name>
        <label>Get User Records</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Last_Login</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>newOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Owner__c</field>
            <value>
                <elementReference>previousOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>newStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>variable_Assign</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Case_After_Seven_Days_Subflows</name>
        <label>Case After Seven Days Subflows</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <flowName>Case_After_Seven_Days_Subflows</flowName>
        <inputAssignments>
            <name>CaseRecord</name>
            <value>
                <elementReference>CaseRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newStatus</name>
            <value>
                <elementReference>newStatus</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Case_After_Seven_Days_Subflows_after7Days</name>
        <label>Case After Seven Days Subflows</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <flowName>Case_After_Seven_Days_Subflows</flowName>
        <inputAssignments>
            <name>CaseRecord</name>
            <value>
                <elementReference>CaseRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newStatus</name>
            <value>
                <elementReference>newStatus</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Notify_Owner_of_New_Response</name>
        <label>Notify Owner of New Response</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <flowName>UTIL_Send_Notification_to_User</flowName>
        <inputAssignments>
            <name>notificationBody</name>
            <value>
                <elementReference>newResponseNotificationBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>notificationTitle</name>
            <value>
                <elementReference>newResponseNotificationTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>notificationType</name>
            <value>
                <stringValue>NewResponse</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>targetId</name>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>CaseRecord.OwnerId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>newResponseNotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You have a new response on Case: {!CaseRecord.CaseNumber} that you are the owner of.</text>
    </textTemplates>
    <textTemplates>
        <name>newResponseNotificationTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New Response from Customer {!CaseRecord.CaseNumber}</text>
    </textTemplates>
    <textTemplates>
        <name>previousOwner</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!CaseRecord.Owner:User.FirstName} {!CaseRecord.Owner:User.LastName}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>newOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
