sas-core/main/default/flows/CASE_Process_Builder_Create_Survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_The_Teams_For_Sending_Surveys</name>
        <label>Assign The Teams For Sending Surveys</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Gold DK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Gold NO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Gold SE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Diamond DK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Diamond NO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Diamond SE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Pandion DK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Pandion NO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Pandion SE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Support Scandinavia</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ACE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>AT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Benelux</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>CH</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ES</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>FI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>FR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>IE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>IS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>IT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>PL</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>RU</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>UK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>US</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>DK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamsForSurveys</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>SE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_A_Survey_Invitation_Be_Created</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Should_A_Survey_Invitation_Be_Created</name>
        <label>Should A Survey Invitation Be Created?</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Survey_For_Chat_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.Owner:User.FirstName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Automated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.Owner:User.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Process</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.FCS_LatestSurveyInvitation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chat</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Survey_Invitation_For_Chat</targetReference>
            </connector>
            <label>Yes - Survey For Chat Cases</label>
        </rules>
        <rules>
            <name>Yes_Survey_For_Closed_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.FCS_LatestSurveyInvitation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>teamsForSurveys</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>caseTeamName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.SuppliedEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>corporatesupport@sas.se</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.SuppliedEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>no-reply@flysas.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.SuppliedEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>travel@orsted.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.SuppliedEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>kundeserviceavdeling@sas.no</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Survey_Invitation_For_Email_Sending</targetReference>
            </connector>
            <label>Yes - Survey For Closed Cases</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>caseTeamName</name>
        <dataType>String</dataType>
        <expression>TEXT({!Case.Team__c})</expression>
    </formulas>
    <interviewLabel>CASE Process Builder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CASE Process Builder Create Survey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_The_Teams_For_Sending_Surveys</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Survey_Invitation_For_Chat</name>
        <label>Create Survey Invitation For Chat</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <flowName>CASE_Generate_Survey_Invitation</flowName>
        <inputAssignments>
            <name>caseRecord</name>
            <value>
                <elementReference>Case</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Survey_Invitation_For_Email_Sending</name>
        <label>Create Survey Invitation For Email Sending</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <flowName>CASE_Generate_Survey_Invitation</flowName>
        <inputAssignments>
            <name>caseRecord</name>
            <value>
                <elementReference>Case</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>teamsForSurveys</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
