sas-core/main/default/flows/Case_SCR_ContactFPS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Minimizing the utility for agents that has not contacted their Internal IT first-hand.</description>
        <name>ACT_Contact_Internal_IT_First</name>
        <label>ACT_Contact_Internal_IT_First</label>
        <locationX>2554</locationX>
        <locationY>1214</locationY>
        <actionName>c:MinimizeUtilityItem</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:MinimizeUtilityItem</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Minimize screen-flow as the issue was resolved thanks to article.</description>
        <name>ACT_Minimize_Auto_Solved</name>
        <label>ACT_Minimize_Auto_Solved</label>
        <locationX>1234</locationX>
        <locationY>2618</locationY>
        <actionName>c:MinimizeUtilityItem</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:MinimizeUtilityItem</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Minimizing the screen flow utility after flow completion.</description>
        <name>ACT_Minimize_Flow</name>
        <label>ACT_Minimize_Flow</label>
        <locationX>2302</locationX>
        <locationY>5726</locationY>
        <actionName>c:MinimizeUtilityItem</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:MinimizeUtilityItem</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>After the confirmation screen, this minimizes the Functional Product Support Widget in the utility bar.</description>
        <name>ACT_MinimizeConfirmation_Permission</name>
        <label>ACT_MinimizeConfirmation_Permission</label>
        <locationX>50</locationX>
        <locationY>3230</locationY>
        <actionName>c:MinimizeUtilityItem</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:MinimizeUtilityItem</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Minimize the flow when the running user does not have the Team Lead in their role name.</description>
        <name>ACT_MinimizeflowNotTL</name>
        <label>ACT_MinimizeFlowNotTL</label>
        <locationX>530</locationX>
        <locationY>566</locationY>
        <actionName>c:MinimizeUtilityItem</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:MinimizeUtilityItem</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Showing the case creation in the chatter feed and which user created the case before changing the owner to the Functional Product Support Queue.</description>
        <name>ACT_Show_Case_Access_Permission_In_Chatter_Feed</name>
        <label>ACT_Show_Case_Access_Permission_In_Chatter_Feed</label>
        <locationX>50</locationX>
        <locationY>2906</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>UPDATE_Access_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Access_Permission_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>caseId_Permission_Access</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Making a chatter post to the case created with information regarding the case to display who created it before updating the owner.</description>
        <name>ACT_Show_In_Feed</name>
        <label>ACT_Show_In_Feed</label>
        <locationX>2170</locationX>
        <locationY>4862</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>UPDATE_Case_Owner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>var_CaseDescription</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>caseId_Issue_Or_Feedback</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Showing the case description and who created it in the related chatter feed for the case.</description>
        <name>ACT_Show_In_Feed_Auto_Solved</name>
        <label>ACT_Show_In_Feed_Auto_Solved</label>
        <locationX>1234</locationX>
        <locationY>2294</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>UPDATE_Case_Owner_Auto_Solved</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>AutoSolvedTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>caseId_Issue_Microphone</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>Adding the record variable to the collection.</description>
        <name>ASSIGN_Affected_Agent_To_Collection</name>
        <label>ASSIGN_Affected_Agent_To_Collection</label>
        <locationX>2390</locationX>
        <locationY>4262</locationY>
        <assignmentItems>
            <assignToReference>coll_Affected_Users</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Affected_User</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Affected_Agents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigning the case id and the current user from the loop to a record variable.</description>
        <name>ASSIGN_Affected_Agent_To_Variable</name>
        <label>ASSIGN_Affected_Agent_To_Variable</label>
        <locationX>2390</locationX>
        <locationY>4154</locationY>
        <assignmentItems>
            <assignToReference>var_Affected_User.Related_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseId_Issue_Or_Feedback</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Affected_User.Related_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Affected_Agents</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Affected_Users_Number</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASSIGN_Affected_Agent_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Affected_User_To_Collection</name>
        <label>ASSIGN_Affected_User_To_Collection</label>
        <locationX>138</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>coll_Affected_Users</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Affected_User</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Affected_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Affected_User_To_Variable</name>
        <label>ASSIGN_Affected_User_To_Variable</label>
        <locationX>138</locationX>
        <locationY>2498</locationY>
        <assignmentItems>
            <assignToReference>var_Affected_User.Related_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseId_Permission_Access</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Affected_User.Related_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Affected_Users</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Affected_Users_Number</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASSIGN_Affected_User_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adding the Content Version Records from the GET query to a collection variable to be able to display them in a data table. This is necessary when user loop back to the previous screen and the uploaded files input changes to not only display what has been uploaded latest but all files uploaded in the flow.</description>
        <name>ASSIGN_Content_Version_Records</name>
        <label>ASSIGN_Content_Version_Records</label>
        <locationX>2170</locationX>
        <locationY>5294</locationY>
        <assignmentItems>
            <assignToReference>coll_Content_Version_Records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GET_Content_Version</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S22_Uploaded_Files_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigning Feedback values to the case that are being created at the end of flow.</description>
        <name>ASSIGN_Feedback</name>
        <label>ASSIGN_Feedback</label>
        <locationX>3786</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>var_CaseSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_FeedbackSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CaseDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FeedbackTemplate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CaseTeam</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal Feedback</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_FPSGroupId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigning the Permission Sets to the variable SelectedPermissionSetIds, and Assigning the User Selected in the Lookup from the screen to the variable SelectedUserId.</description>
        <name>ASSIGN_IDs</name>
        <label>ASSIGN_IDs</label>
        <locationX>402</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>coll_Selected_PermissionSet_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Selected_PermissionSets.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_PermissionSets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigning templates and values for FPS Cases that are issues.</description>
        <name>ASSIGN_Issue</name>
        <label>ASSIGN_Issue</label>
        <locationX>2829</locationX>
        <locationY>3254</locationY>
        <assignmentItems>
            <assignToReference>var_CaseSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Issue_Agents_Template</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CaseDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BugTemplate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CaseTeam</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Issue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_FPSGroupId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigning templates and values for FPS Cases that are issues.</description>
        <name>ASSIGN_Issue_Auto</name>
        <label>ASSIGN_Issue_Auto</label>
        <locationX>1234</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>var_CaseSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_IssueSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CaseDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BugTemplate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CaseTeam</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Issue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_GroupId_Case_Auto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigning the updated value to the case subject so the number of affected agents are easily displayed in the list.</description>
        <name>ASSIGN_Num_Value</name>
        <label>ASSIGN_Num_Value</label>
        <locationX>2302</locationX>
        <locationY>4562</locationY>
        <assignmentItems>
            <assignToReference>var_CaseSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Issue_Agents_Template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UPDATE_Case_Subject</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigning a value to a boolean based on a checkbox.</description>
        <name>ASSIGN_Permission_Checkbox_Value</name>
        <label>ASSIGN_Permission_Checkbox_Value</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>bool_Permission_Not_In_List</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ch_Permission_Not_In_List</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CHECK_Permission_Not_In_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigning Current Item from Loop to a Single Record Variable.</description>
        <name>ASSIGN_PermissionSet</name>
        <label>ASSIGN_PermissionSet</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>SinglePermissionSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_PermissionSets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>STORE_PermissionSet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigning the checkbox value in the screen component to the correlating boolean variable for use in the next decision.</description>
        <name>ASSIGN_TeamLead_Checkbox_Value</name>
        <label>ASSIGN_TeamLead_Checkbox_Value</label>
        <locationX>3214</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>bool_TeamLead_Not_In_SF</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ch_TeamLead_NotIn_SF</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CHECK_TeamLead_Not_In_SF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adding the values from the TeamLead contact screen input formula to a variable.</description>
        <name>ASSIGN_TeamLead_In_SF</name>
        <label>ASSIGN_TeamLead_In_SF</label>
        <locationX>3346</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>var_TeamLeadEntry</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>form_TeamLead_In_SF</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S20_Enter_Affected_Agents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adding the values from the TeamLead Contact screen input formula to a variable.</description>
        <name>ASSIGN_TeamLead_Not_In_SF</name>
        <label>ASSIGN_TeamLead_Not_In_SF</label>
        <locationX>3082</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>var_TeamLeadEntry</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>form_TeamLead_Not_In_SF</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S20_Enter_Affected_Agents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigning the user role ids to a collection variable.</description>
        <name>ASSIGN_User_RoleIDs</name>
        <label>ASSIGN_User_RoleIDs</label>
        <locationX>3302</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>coll_UserRoleIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOOP_User_RoleIDs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_User_RoleIDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setting the choice values from the flow using a form to the variable.</description>
        <name>SET_Choice_Values</name>
        <label>SET_Choice_Values</label>
        <locationX>882</locationX>
        <locationY>2162</locationY>
        <assignmentItems>
            <assignToReference>var_AllChoiceEntries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>form_All_Choices</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>GET_User_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setting the choice values from the flow using a formula to the variable when the flow has been deflected.</description>
        <name>SET_Choice_Values_Auto</name>
        <label>SET_Choice_Values_Auto</label>
        <locationX>1234</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>var_AllChoiceEntries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>form_All_Choices</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASSIGN_Issue_Auto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adding the Current iteration from the loop (Single Record Variable) into the filtered Record Collection Variable called PermissionCollection to display in the Data table screen.</description>
        <name>STORE_PermissionSet</name>
        <label>STORE_PermissionSet</label>
        <locationX>138</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>PermissionCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SinglePermissionSet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_PermissionSets</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ch_Article_Access_NotResolved</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;I still need help granting access.&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ch_Article_Access_NotResolved</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Article_Access_Resolved</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;The article helped me grant access.&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ch_Article_Access_Resolved</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Article_Debug_NotRetrieved</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;I did not manage to retrieve my CCP Debug Log.&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Debug Article did not solve issue</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Article_Debug_Retrieved</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;I have retrieved my CCP Debug log.&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Debug Article solved issue</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Article_Internet_NotSolved_Issue</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;I still have an issue.&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internet deflect did not solve issue.</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Article_Internet_Solved_Issue</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;I managed to solve the issue myself.&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internet text solved issue</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Article_Microphone_NotSolved_Issue</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;I still have an issue.&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Microphone article did not solve issue</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Article_Microphone_Solved_Issue</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;I managed to solve the issue myself.&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Microphone article solved issue</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Debug_Downloaded</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;Yes&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Has downloaded debug logs</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Debug_Not_Downloaded</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;No&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Debug not downloaded</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_FeedbackChat</name>
        <choiceText>Chat</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chat</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_FeedbackOther</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_FeedbackSalesforce</name>
        <choiceText>Salesforce</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Salesforce</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_FeedbackSassi</name>
        <choiceText>SAS Sales Information</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SAS Sales Information</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_FeedbackTemplates</name>
        <choiceText>Templates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Templates</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_FeedbackWebsite</name>
        <choiceText>Website</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Website</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Internal_IT_Contacted</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;Yes&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal IT contacted</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Internal_IT_NotContacted</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;No&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal IT not contacted</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Internet_Bad</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;Bad&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bad</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Internet_Good</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;Good&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Good</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Issue_Case</name>
        <choiceText>Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Issue_Chat</name>
        <choiceText>Chat</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chat</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Issue_Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Issue_Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Issue_Settlement</name>
        <choiceText>Settlement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Settlement</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Issue_Telephony</name>
        <choiceText>Telephony</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Telephony</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Microphone_Enabled_No</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;No&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Microphone_Enabled_Yes</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;Yes&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Microphone is enabled in browser window.</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Network_Cable</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;Cable&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cable</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Network_WiFi</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;Wi-Fi&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WiFi</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_PermissionSetAccess_No</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;No&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ch_PermissionSetAccess_No</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_PermissionSetAccess_Yes</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;Yes&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ch_PermissionSetAccess_Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Relog_No</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;No&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not relogged</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Relog_Yes</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;Yes&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes user has relogged.</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Reoccurence_AllTheTime</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;All the time&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>All the time</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Reoccurrence_FirstTime</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;First time&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>First time</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Reoccurrence_Sometimes</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;Sometimes&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sometimes</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Reouccurence_Often</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;Often&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Often</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Reset_Router_No</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;No&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not reset router</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Reset_Router_Yes</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;Yes&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes i have reset router</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Restart_No</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;No&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not restarted</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Restart_Yes</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;Yes&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes user has restarted computer</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Type_Ask_Access</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;Request access&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>[Access]</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Type_ReportBug</name>
        <choiceText>Report an issue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>[Bug]</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Type_Submit_Feedback</name>
        <choiceText>Submit feedback</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FeedbackSuggestion</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Upload_AllFiles</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;I have uploaded all necessary files related to case.&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UploadedAllFiles</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Upload_MoreFiles</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;I wish to upload more files related to my case.&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UploadMoreFiles</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_VDI_Inside</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;I am using the VDI&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inside VDI</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_VDI_Outside</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;I am not using the VDI&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outside VDI</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Web_Browser_Chrome</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;Chrome&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chrome</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Web_Browser_MicrosoftEdge</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;Microsoft Edge&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Microsoft Edge</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Web_Browser_Mozilla</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;Mozilla&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mozilla</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Web_Browser_Other</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;Other Web Browser&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other web browser</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Web_Browser_Safari</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;Safari&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Safari</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Work_InOffice</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;In Office&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Office</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Work_Remote</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;Remote&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remote</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Checking if the running user has contacted their internal IT Support.</description>
        <name>CHECK_Contacted_Internal_IT</name>
        <label>CHECK_Contacted_Internal_IT</label>
        <locationX>2048</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>S07_Contact_Internal_IT_First</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CHECK_Not_Contacted</defaultConnectorLabel>
        <rules>
            <name>CHECK_Contacted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ch_ContactedInternal_IT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ch_Internal_IT_Contacted</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S07_Are_You_Remote</targetReference>
            </connector>
            <label>CHECK_Contacted</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking if the user has selected that they have downloaded debug logs or not.</description>
        <name>CHECK_DebugLog_Downloaded</name>
        <label>CHECK_DebugLog_Downloaded</label>
        <locationX>882</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>S15_DebugLog_Knowledge_Link</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Check_DebugLog_No</defaultConnectorLabel>
        <rules>
            <name>CHECK_DebugLog_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ch_DebugScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ch_Debug_Downloaded</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S16_Web_Browser</targetReference>
            </connector>
            <label>CHECK_DebugLog_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if User has Team Lead or SAS in their role name or not.</description>
        <name>CHECK_IF_TeamLead_Or_SAS_Role</name>
        <label>CHECK_IF_TeamLead_Or_SAS_Role</label>
        <locationX>290</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>S02_ContactTeamLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CHECK_IsNot_TL</defaultConnectorLabel>
        <rules>
            <name>CHECK_Is_TL</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentUserRoleName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>var_TeamLeadRoleString</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentUserRoleName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>var_SASRoleString</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_GroupId_Access</targetReference>
            </connector>
            <label>CHECK_Is_TL</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking the choice value of the previous screen if its positive or negative.</description>
        <name>CHECK_Internet_Connection</name>
        <label>CHECK_Internet_Connection</label>
        <locationX>1960</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>S09_Internet_Knowledge_Link</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CHECK_Bad</defaultConnectorLabel>
        <rules>
            <name>CHECK_Good</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ch_InternetConnection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ch_Internet_Good</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>S12_Is_Microphone_Enabled</targetReference>
            </connector>
            <label>CHECK_Good</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking if the running user has selected that their microphone in the browser window is enabled.</description>
        <name>CHECK_Is_Microphone_Enabled</name>
        <label>CHECK_Is_Microphone_Enabled</label>
        <locationX>1124</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>S13_Microphone_Knowledge_Link</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CHECK_Not_Enabled</defaultConnectorLabel>
        <rules>
            <name>CHECK_Yes_Enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ch_Microphone_Enabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ch_Microphone_Enabled_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S14_DebugLog_Screen</targetReference>
            </connector>
            <label>CHECK_Yes_Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking if the user running the flow has selected remote or in office.</description>
        <name>CHECK_Is_Remote</name>
        <label>CHECK_Is_Remote</label>
        <locationX>1542</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>S08_Internet_Connection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CHECK_Remote_Yes</defaultConnectorLabel>
        <rules>
            <name>CHECK_Remote_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ch_RemoteOrOffice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ch_Work_InOffice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S12_Is_Microphone_Enabled</targetReference>
            </connector>
            <label>CHECK_Remote_No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking if the issue was solved from the Internet connection related knowledge article.</description>
        <name>CHECK_Issue_Solved_Internet</name>
        <label>CHECK_Issue_Solved_Internet</label>
        <locationX>2158</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>S10_Reset_Router</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CHECK_Not_Solved</defaultConnectorLabel>
        <rules>
            <name>CHECK_Internet_Solved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ch_Internet_Connection_Knowledge</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ch_Article_Internet_Solved_Issue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>SET_Choice_Values_Auto</targetReference>
            </connector>
            <label>CHECK_Internet_Solved</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the issue has been solved by the knowledge article related to microphone.</description>
        <name>CHECK_IssueSolved_Microphone</name>
        <label>CHECK_IssueSolved_Microphone</label>
        <locationX>1366</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>S14_DebugLog_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Check_IssueSolved_Microphone_No</defaultConnectorLabel>
        <rules>
            <name>CHECK_IssueSolved_Microphone_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ch_Microphone_Enabled_Knowledge</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ch_Article_Microphone_Solved_Issue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SET_Choice_Values_Auto</targetReference>
            </connector>
            <label>CHECK_Microphone_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Using a formula to check if the permission set is valid or not, to make sure we dont get any deleted permission sets rendered in the data table screen. Check formula for details.</description>
        <name>CHECK_IsValid_PermissionSet</name>
        <label>CHECK_IsValid_PermissionSet</label>
        <locationX>358</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Loop_PermissionSets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ERROR</defaultConnectorLabel>
        <rules>
            <name>CHECK_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>form_bool_PermissionSet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_PermissionSet</targetReference>
            </connector>
            <label>CHECK_Valid</label>
        </rules>
        <rules>
            <name>CHECK_NotValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>form_bool_PermissionSet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_PermissionSets</targetReference>
            </connector>
            <label>CHECK_NotValid</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking if the user selects that the permission set is not in the list.</description>
        <name>CHECK_Permission_Not_In_List</name>
        <label>CHECK_Permission_Not_In_List</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Loop_Selected_PermissionSets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CHECK_In_List</defaultConnectorLabel>
        <rules>
            <name>CHECK_Not_In_List</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bool_Permission_Not_In_List</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CREATE_FPS_Access_Case</targetReference>
            </connector>
            <label>CHECK_Not_In_List</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking the request type and skipping loop if its feedback.</description>
        <name>CHECK_Req_Type</name>
        <label>CHECK_Req_Type</label>
        <locationX>2170</locationX>
        <locationY>3938</locationY>
        <defaultConnector>
            <targetReference>LOOP_Affected_Agents</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CHECK_Issue</defaultConnectorLabel>
        <rules>
            <name>CHECK_Feedback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ch_Type_Submit_Feedback</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ACT_Show_In_Feed</targetReference>
            </connector>
            <label>CHECK_Feedback</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking for the selected permission sets from the data table in the screen.</description>
        <name>CHECK_Selected_Rows</name>
        <label>CHECK_Selected_Rows</label>
        <locationX>534</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>S02_SelectUser_And_PermissionSets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CHECK Selected Rows Nothing Selected</defaultConnectorLabel>
        <rules>
            <name>CHECK_SelectedRows_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DataTable_PermissionSets.selectedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_IDs</targetReference>
            </connector>
            <label>CHECK Selected Rows Selected</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking if the Team Lead for the affected agent(s) is not in salesforce.</description>
        <name>CHECK_TeamLead_Not_In_SF</name>
        <label>CHECK_TeamLead_Not_In_SF</label>
        <locationX>3214</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>ASSIGN_TeamLead_In_SF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CHECK_In_SF</defaultConnectorLabel>
        <rules>
            <name>CHECK_Not_In_SF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bool_TeamLead_Not_In_SF</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S19_Enter_TeamLead_Supervisor_Not_In_Salesforce</targetReference>
            </connector>
            <label>CHECK_Not_In_SF</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision checking if the running user after having seen the files in the data table component wants to upload additional files.</description>
        <name>CHECK_Upload_More_Files</name>
        <label>CHECK_Upload_More_Files</label>
        <locationX>2170</locationX>
        <locationY>5510</locationY>
        <defaultConnector>
            <targetReference>S23_Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CHECK_No</defaultConnectorLabel>
        <rules>
            <name>CHECK_Upload_More_Files_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ch_UploadedFiles</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ch_Upload_MoreFiles</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>S21_Upload_Files_Screen</targetReference>
            </connector>
            <label>CHECK_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to check which product is related to the issue and display screens with relevant information.</description>
        <name>DEC_KindOf_Issue</name>
        <label>DEC_KindOf_Issue</label>
        <locationX>2829</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>ASSIGN_Issue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ERROR</defaultConnectorLabel>
        <rules>
            <name>DEC_Telephony</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IssueProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Telephony</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S02_Question_Information_Screen</targetReference>
            </connector>
            <label>DEC_Telephony</label>
        </rules>
        <rules>
            <name>DEC_Email_Or_Chat</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>IssueProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IssueProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chat</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>GET_User_Roles</targetReference>
            </connector>
            <label>DEC_Email_Or_Chat</label>
        </rules>
        <rules>
            <name>DEC_Other_Issue</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>IssueProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Settlement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IssueProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IssueProduct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_User_Roles</targetReference>
            </connector>
            <label>DEC_Other_Issue</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision for determining which type of Functional Product Support request is being made.</description>
        <name>DEC_RequestType</name>
        <label>DEC_RequestType</label>
        <locationX>2170</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>GET_FPSGroupId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ERROR</defaultConnectorLabel>
        <rules>
            <name>DEC_RequestType_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ch_Type_Ask_Access</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CHECK_IF_TeamLead_Or_SAS_Role</targetReference>
            </connector>
            <label>DEC_Access</label>
        </rules>
        <rules>
            <name>DEC_Issue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ch_Type_ReportBug</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEC_KindOf_Issue</targetReference>
            </connector>
            <label>DEC_Issue</label>
        </rules>
        <rules>
            <name>DEC_Feedback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ch_Type_Submit_Feedback</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_Feedback</targetReference>
            </connector>
            <label>DEC_Feedback</label>
        </rules>
    </decisions>
    <description>Screen flow for the Functional Product Support. updating the permission set query to alter the data table. Updated flow temporarily removing experience cloud links in version 17, also further upgrades made.</description>
    <dynamicChoiceSets>
        <name>CasePriority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ch_Select_TeamLead</name>
        <collectionReference>GET_Users</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Summary formula for all choices made in the issue screens radio button components, it checks that the value is not blank(that the user has passed through that screen) and then proceeds to add it to the summary.</description>
        <name>form_All_Choices</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!ch_Relog_Button})), &apos;Has relogged: &apos; &amp; {!ch_Relog_Button} &amp; &apos;&lt;br&gt;&apos;, &apos;&apos;) &amp;
IF(NOT(ISBLANK({!ch_Restart_Button})), &apos;Has restarted: &apos; &amp; {!ch_Restart_Button} &amp; &apos;&lt;br&gt;&apos;, &apos;&apos;) &amp;
IF(NOT(ISBLANK({!ch_VDI_Screen})), &apos;VDI: &apos; &amp; {!ch_VDI_Screen} &amp; &apos;&lt;br&gt;&apos;, &apos;&apos;) &amp;
IF(NOT(ISBLANK({!ch_ContactedInternal_IT})), &apos;Contacted Internal IT: &apos; &amp; {!ch_ContactedInternal_IT} &amp; &apos;&lt;br&gt;&apos;, &apos;&apos;) &amp;
IF(NOT(ISBLANK({!ch_RemoteOrOffice})), &apos;Remote/Office: &apos; &amp; {!ch_RemoteOrOffice} &amp; &apos;&lt;br&gt;&apos;, &apos;&apos;) &amp;
IF(NOT(ISBLANK({!ch_InternetConnection})), &apos;Internet Connection: &apos; &amp; {!ch_InternetConnection} &amp; &apos;&lt;br&gt;&apos;, &apos;&apos;) &amp;
IF(NOT(ISBLANK({!ch_Internet_Connection_Knowledge})), &apos;Knowledge Internet: &apos; &amp; {!ch_Internet_Connection_Knowledge} &amp; &apos;&lt;br&gt;&apos;, &apos;&apos;) &amp;
IF(NOT(ISBLANK({!ch_ResetRouter_Button})), &apos;Reset router: &apos; &amp; {!ch_ResetRouter_Button} &amp; &apos;&lt;br&gt;&apos;, &apos;&apos;) &amp;
IF(NOT(ISBLANK({!ch_Wifi_Or_Cable})), &apos;WIFI/CABLE: &apos; &amp; {!ch_Wifi_Or_Cable} &amp; &apos;&lt;br&gt;&apos;, &apos;&apos;) &amp;
IF(NOT(ISBLANK({!ch_Microphone_Enabled})), &apos;Microphone Enabled: &apos; &amp; {!ch_Microphone_Enabled} &amp; &apos;&lt;br&gt;&apos;, &apos;&apos;) &amp;
IF(NOT(ISBLANK({!ch_Microphone_Enabled_Knowledge})), &apos;Knowledge Microphone: &apos; &amp; {!ch_Microphone_Enabled_Knowledge} &amp; &apos;&lt;br&gt;&apos;, &apos;&apos;) &amp;
IF(NOT(ISBLANK({!ch_DebugScreen})), &apos;Downloaded Debug Log: &apos; &amp; {!ch_DebugScreen} &amp; &apos;&lt;br&gt;&apos;, &apos;&apos;) &amp;
IF(NOT(ISBLANK({!ch_DebugLog_Download_Knowledge})), &apos;Knowledge Debug: &apos; &amp; {!ch_DebugLog_Download_Knowledge} &amp; &apos;&lt;br&gt;&apos;, &apos;&apos;) &amp;
IF(NOT(ISBLANK({!ch_WebBrowser_Button})), &apos;Web Browser: &apos; &amp; {!ch_WebBrowser_Button} &amp; &apos;&lt;br&gt;&apos;, &apos;&apos;) &amp;
IF(NOT(ISBLANK({!ch_Issue_Reoccurrence})), &apos;Issue reoccurrence: &apos; &amp; {!ch_Issue_Reoccurrence} &amp; &apos;&lt;br&gt;&apos;, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>form_bool_PermissionSet</name>
        <dataType>Boolean</dataType>
        <expression>IF(
NOT(BEGINS({!Loop_PermissionSets.Label},&apos;00e&apos;))
, true, false)</expression>
    </formulas>
    <formulas>
        <name>form_FeedbackSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[&quot; &amp; {!FeedbackProduct} &amp; &quot;]&quot; &amp; &quot; &quot; &amp;  LEFT({!FeedbackTopic}, 50)</expression>
    </formulas>
    <formulas>
        <name>form_IssueSubject</name>
        <dataType>String</dataType>
        <expression>&quot; Issue related to  &quot; &amp; &quot; &quot; &amp;  LEFT({!IssueProduct}, 50)</expression>
    </formulas>
    <formulas>
        <name>form_SeparatePermissionID</name>
        <dataType>String</dataType>
        <expression>{!coll_Selected_PermissionSet_Ids}</expression>
    </formulas>
    <formulas>
        <name>form_TeamLead_In_SF</name>
        <dataType>String</dataType>
        <expression>&apos;Team Lead &apos; + BR() +
&quot;Name: &quot; + {!Lookup_Select_Team_Lead.selectedChoiceLabels} + BR() +
&quot;User Id: &quot; + {!Lookup_Select_Team_Lead.selectedChoiceValues} + BR() +
&quot;Email: &quot; + {!Team_Lead_SF_Form_Email} &amp; BR() +
&quot;Phone: &quot; + {!Team_Lead_SF_Form_Phone}</expression>
    </formulas>
    <formulas>
        <description>Form for team leads related to the case that are not in salesforce.</description>
        <name>form_TeamLead_Not_In_SF</name>
        <dataType>String</dataType>
        <expression>&quot;First name: &quot; + {!TeamLead_Form_First_Name} + BR() + 
&quot;Last name: &quot; + {!TeamLead_Form_Last_Name} + BR() +
&quot;Email: &quot; + {!TeamLead_Form_Email} + BR() + 
&quot;Phone: &quot; + {!TeamLead_Form_Phone} + BR() + BR()</expression>
    </formulas>
    <interviewLabel>Case ContactFPS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case_SCR_ContactFPS</label>
    <loops>
        <description>Looping through the affected agents in S20.</description>
        <name>LOOP_Affected_Agents</name>
        <label>LOOP_Affected_Agents</label>
        <locationX>2302</locationX>
        <locationY>4046</locationY>
        <collectionReference>Affected_Agent_Lookup.recordIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASSIGN_Affected_Agent_To_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CREATE_Affected_Users_Agents</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LOOP_Affected_Users</name>
        <label>LOOP_Affected_Users</label>
        <locationX>50</locationX>
        <locationY>2390</locationY>
        <collectionReference>Affected_User_Lookup.recordIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASSIGN_Affected_User_To_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CREATE_Affected_Users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Looping through Permission Sets to render them in the data table screen component.</description>
        <name>Loop_PermissionSets</name>
        <label>LOOP_PermissionSets</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <collectionReference>GET_PermissionSets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CHECK_IsValid_PermissionSet</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>S02_SelectUser_And_PermissionSets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Looping through the permission sets in the data table in the previous screen to see which ones where selected.</description>
        <name>Loop_Selected_PermissionSets</name>
        <label>LOOP_Selected_PermissionSets</label>
        <locationX>314</locationX>
        <locationY>1706</locationY>
        <collectionReference>DataTable_PermissionSets.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CHECK_Selected_Rows</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CREATE_FPS_Access_Case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Looping through the user role ids for the roles that should be able to be selected as team lead.</description>
        <name>LOOP_User_RoleIDs</name>
        <label>LOOP_User_RoleIDs</label>
        <locationX>3214</locationX>
        <locationY>566</locationY>
        <collectionReference>GET_User_Roles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASSIGN_User_RoleIDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GET_Users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CREATE_Affected_Users</name>
        <label>CREATE_Affected_Users</label>
        <locationX>50</locationX>
        <locationY>2798</locationY>
        <connector>
            <targetReference>ACT_Show_Case_Access_Permission_In_Chatter_Feed</targetReference>
        </connector>
        <inputReference>coll_Affected_Users</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Creating records of affected agents related to the case.</description>
        <name>CREATE_Affected_Users_Agents</name>
        <label>CREATE_Affected_Users_Agents</label>
        <locationX>2302</locationX>
        <locationY>4454</locationY>
        <connector>
            <targetReference>ASSIGN_Num_Value</targetReference>
        </connector>
        <inputReference>coll_Affected_Users</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Creating a case when auto resolving a case with articles to related to microphone issues.</description>
        <name>CREATE_Case_Auto_Resolved</name>
        <label>CREATE_Case_Auto_Resolved</label>
        <locationX>1234</locationX>
        <locationY>2186</locationY>
        <assignRecordIdToReference>caseId_Issue_Microphone</assignRecordIdToReference>
        <connector>
            <targetReference>ACT_Show_In_Feed_Auto_Solved</targetReference>
        </connector>
        <inputAssignments>
            <field>DateTimeIssue__c</field>
            <value>
                <elementReference>Date_Time_Of_Issue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>Functional Product Support</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>var_CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FCS_CaseType__c</field>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FPS_Choice_Entries_Rich__c</field>
            <value>
                <elementReference>var_AllChoiceEntries</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Internal - Functional Product Support</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GET_RecordType_Case_Auto.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Auto-Solved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>AutoSolvedTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team__c</field>
            <value>
                <stringValue>Issue</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <description>Creating a Access case For Permission Set assignment simplicity.</description>
        <name>CREATE_FPS_Access_Case</name>
        <label>CREATE_FPS_Access_Case</label>
        <locationX>50</locationX>
        <locationY>2282</locationY>
        <assignRecordIdToReference>caseId_Permission_Access</assignRecordIdToReference>
        <connector>
            <targetReference>LOOP_Affected_Users</targetReference>
        </connector>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>Functional Product Support</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Access_Description_Template</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FCS_CaseType__c</field>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Internal - Functional Product Support</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetCollectionIDs_Long__c</field>
            <value>
                <elementReference>form_SeparatePermissionID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Owner__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GET_RecordType_Access.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Request for Permission Set assignment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team__c</field>
            <value>
                <stringValue>Access</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <description>Creating up the FPS Case whether its issue or feedback related.</description>
        <name>CREATE_FPS_Issue_Feedback_Case</name>
        <label>CREATE_FPS_Issue_Feedback_Case</label>
        <locationX>2170</locationX>
        <locationY>3830</locationY>
        <assignRecordIdToReference>caseId_Issue_Or_Feedback</assignRecordIdToReference>
        <connector>
            <targetReference>CHECK_Req_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Information_TeamLead__c</field>
            <value>
                <elementReference>var_TeamLeadEntry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DateTimeIssue__c</field>
            <value>
                <elementReference>Date_Time_Of_Issue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>Functional Product Support</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>var_CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FCS_CaseType__c</field>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FPS_Choice_Entries_Rich__c</field>
            <value>
                <elementReference>var_AllChoiceEntries</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Internal - Functional Product Support</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GET_FPSRecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>var_CaseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team__c</field>
            <value>
                <elementReference>var_CaseTeam</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <description>Retrieving the Content Version Ids from the previous screen to be able to display them in the next.</description>
        <name>GET_Content_Version</name>
        <label>GET_Content_Version</label>
        <locationX>2170</locationX>
        <locationY>5186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASSIGN_Content_Version_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>FileUpload.contentVersionIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting the group id for the FPS Group.</description>
        <name>GET_FPSGroupId</name>
        <label>GET_FPSGroupId</label>
        <locationX>2170</locationX>
        <locationY>3614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_FPSRecordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Functional Product Support</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting the record type id for Functional Product Support.</description>
        <name>GET_FPSRecordTypeId</name>
        <label>GET_FPSRecordTypeId</label>
        <locationX>2170</locationX>
        <locationY>3722</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CREATE_FPS_Issue_Feedback_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Functional Product Support</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting the group Id for Functional Product Support.</description>
        <name>GET_GroupId_Access</name>
        <label>GET_GroupId_Access</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_RecordType_Access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Functional Product Support</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting the group Id for functional product support in order to change the owner after the record has been created.</description>
        <name>GET_GroupId_Case_Auto</name>
        <label>GET_GroupId_Case_Auto</label>
        <locationX>1234</locationX>
        <locationY>1970</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_RecordType_Case_Auto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Functional Product Support</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting the Permission Sets that are not Standard and that has an Id too display in the data table.</description>
        <name>GET_PermissionSets</name>
        <label>GET_Permission_Sets</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_PermissionSets</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chat_Agent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Phone_Agent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Phone_Supervisor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Omni Supervisor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SAS Claim Firms Editor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SAS Customer Claims</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SAS Liability</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SAS Settlements</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Export Reports</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reports for Agents</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reports for Supervisors</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSet</object>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting the record type Id for the Functional Product Support record type.</description>
        <name>GET_RecordType_Access</name>
        <label>GET_RecordType_Access</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_PermissionSets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Functional Product Support</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting the record type for functional product support in order to assign that to the record.</description>
        <name>GET_RecordType_Case_Auto</name>
        <label>GET_RecordType_Case_Auto</label>
        <locationX>1234</locationX>
        <locationY>2078</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CREATE_Case_Auto_Resolved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Functional Product Support</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting the user roles for use in the loop.</description>
        <name>GET_User_Roles</name>
        <label>GET_User_Roles</label>
        <locationX>3214</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOP_User_RoleIDs</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Student Consulting Team Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sutherland Team Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sykes Team Lead</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>UserRole</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting the users with role ids in the loop.</description>
        <name>GET_Users</name>
        <label>GET_Users_In_UserRoleIds</label>
        <locationX>3214</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>S18_Enter_TeamLead_Supervisor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_UserRoleIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updating the case owner to the Functional Product Support Queue to display it in the list view. Also updating the subject to show how many users are related to the case.</description>
        <name>UPDATE_Access_Case</name>
        <label>UPDATE_Access_Case</label>
        <locationX>50</locationX>
        <locationY>3014</locationY>
        <connector>
            <targetReference>S03_Access_Request_Sent_Confirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId_Permission_Access</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GET_GroupId_Access.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Access_Permission_Template</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updating the owner to the functional product support queue, to display it in the list view where it can be picked up. Updating the subject to dynamically</description>
        <name>UPDATE_Case_Owner</name>
        <label>UPDATE_Case_Owner</label>
        <locationX>2170</locationX>
        <locationY>4970</locationY>
        <connector>
            <targetReference>S21_Upload_Files_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId_Issue_Or_Feedback</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GET_FPSGroupId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updating the case owner to Functional Support to display the case in the list view when case has been automatically solved.</description>
        <name>UPDATE_Case_Owner_Auto_Solved</name>
        <label>UPDATE_Case_Owner_Auto_Solved</label>
        <locationX>1234</locationX>
        <locationY>2402</locationY>
        <connector>
            <targetReference>S14_Issue_Auto_Solved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId_Issue_Microphone</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GET_GroupId_Case_Auto.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Running the update on the case subject field to display how many agents have been affected.</description>
        <name>UPDATE_Case_Subject</name>
        <label>UPDATE_Case_Subject</label>
        <locationX>2302</locationX>
        <locationY>4670</locationY>
        <connector>
            <targetReference>ACT_Show_In_Feed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId_Issue_Or_Feedback</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>var_CaseSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Form screen for input to determine the type of case and relevant field based on what type of case is created.</description>
        <name>S01_Enter_Issue_Information</name>
        <label>S01_Enter_Issue_Information</label>
        <locationX>2170</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DEC_RequestType</targetReference>
        </connector>
        <fields>
            <name>RequestType</name>
            <choiceReferences>ch_Type_ReportBug</choiceReferences>
            <choiceReferences>ch_Type_Ask_Access</choiceReferences>
            <choiceReferences>ch_Type_Submit_Feedback</choiceReferences>
            <dataType>String</dataType>
            <fieldText>I would like to:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S01_Enter_Issue_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S01_Enter_Issue_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccessDescription</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;Please give a description of &lt;/p&gt;&lt;ol&gt;&lt;li&gt;What access you need.&lt;/li&gt;&lt;li&gt;For what purpose.&lt;/li&gt;&lt;li&gt; Who needs the access.&lt;/li&gt;&lt;/ol&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RequestType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ch_Type_Ask_Access</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>S01_Enter_Issue_Information_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S01_Enter_Issue_Information_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IssueProduct</name>
                    <choiceReferences>ch_Issue_Case</choiceReferences>
                    <choiceReferences>ch_Issue_Chat</choiceReferences>
                    <choiceReferences>ch_Issue_Email</choiceReferences>
                    <choiceReferences>ch_Issue_Settlement</choiceReferences>
                    <choiceReferences>ch_Issue_Telephony</choiceReferences>
                    <choiceReferences>ch_Issue_Other</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>What is the issue related to?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Select the product that you want to report an issue for, if it is not in the list you can select &quot;Other&quot;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>IssueDescription</name>
                    <fieldText>Please give a detailed description of your issue and where you experienced it.</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;Include products, what happened, expected outcomes, error messages, and steps to reproduce&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Date_Time_Of_Issue</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Please specify date and time you acknowledged the issue</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>IssueLink</name>
                    <dataType>String</dataType>
                    <fieldText>Please provide a link to where the issue occured</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>IssueCaseNumber</name>
                    <dataType>String</dataType>
                    <fieldText>Case number (optional)</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;If the issue is related to a case please provide us with the case number.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RequestType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ch_Type_ReportBug</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>S01_Enter_Issue_Information_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S01_Enter_Issue_Information_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FeedbackTopic</name>
                    <dataType>String</dataType>
                    <fieldText>What is the feedback about?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FeedbackProduct</name>
                    <choiceReferences>ch_FeedbackSalesforce</choiceReferences>
                    <choiceReferences>ch_FeedbackSassi</choiceReferences>
                    <choiceReferences>ch_FeedbackWebsite</choiceReferences>
                    <choiceReferences>ch_FeedbackChat</choiceReferences>
                    <choiceReferences>ch_FeedbackTemplates</choiceReferences>
                    <choiceReferences>ch_FeedbackOther</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>What is the feedback related to?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Please select the product that your feedback is related to, if not in the list select &quot;Other&quot;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FeedbackDescription</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FeedbackImpact</name>
                    <dataType>String</dataType>
                    <fieldText>Business Impact</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Please describe the business impact of the suggested feedback&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FeedbackLink</name>
                    <dataType>String</dataType>
                    <fieldText>URL</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;If the feedback is for a website or a page, please insert the URL here.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RequestType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ch_Type_Submit_Feedback</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen Deflecting users who does not have the team lead role to contact their team leads for application of additional access.</description>
        <name>S02_ContactTeamLead</name>
        <label>S02_Contact Team Lead</label>
        <locationX>530</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ACT_MinimizeflowNotTL</targetReference>
        </connector>
        <fields>
            <name>Text_For_Agent</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please contact your Team Lead regarding applying for necessary additional access.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Have a good day!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Best Regards, IT&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to give the running user some information about</description>
        <name>S02_Question_Information_Screen</name>
        <label>S02_Question_Information_Screen</label>
        <locationX>2048</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>S03_Relog_Screen</targetReference>
        </connector>
        <fields>
            <name>Text_Please_Read</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Please read&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text_Ask_Questions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;In order to help you troubleshoot your issue we will now ask you some questions. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Depending on your answers you will automatically skip questions or get provided with additional information on how to solve your issue, please answer honestly.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen where the running user can choose which USER that needs additional permission sets, and which PERMISSION SETS they need.</description>
        <name>S02_SelectUser_And_PermissionSets</name>
        <label>S02_SelectUser_And_PermissionSets</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ASSIGN_Permission_Checkbox_Value</targetReference>
        </connector>
        <fields>
            <name>Data_Table_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Select up to 10 users that need access, and then the access they need through the permission sets.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Affected_User_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Affected_User__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Related_User__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select User(s)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ch_Permission_Not_In_List</name>
            <dataType>Boolean</dataType>
            <fieldText>I cannot see the access i need to assign in the list</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DataTable_PermissionSets</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>PermissionSet</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Permission Sets</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>PermissionCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Label&quot;,&quot;guid&quot;:&quot;column-fe7f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Permission Set Label&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-330d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ch_Permission_Not_In_List</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>text_What_access</name>
            <fieldText>Please give more clarification of what access you need.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Make sure to be very clear with the access you need for you or your agents so we can assign it as soon as possible.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ch_Permission_Not_In_List</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Confirmation screen for user running the flow that their access request case has been created.</description>
        <name>S03_Access_Request_Sent_Confirmation</name>
        <label>S03_Access_Request_Sent_Confirmation</label>
        <locationX>50</locationX>
        <locationY>3122</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ACT_MinimizeConfirmation_Permission</targetReference>
        </connector>
        <fields>
            <name>Approval_text</name>
            <fieldText>&lt;p&gt;Your request for approval has been submitted. You will get informed of the decision for assigned permission sets shortly.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;IT&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm user has logged out and in of salesforce.</description>
        <name>S03_Relog_Screen</name>
        <label>S03_Relog_Screen</label>
        <locationX>2048</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>S04_Restart_Screen</targetReference>
        </connector>
        <fields>
            <name>Question_Number_1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Question 1 out of 12&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Relog_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Have you tested logging out and in of salesforce?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ch_Relog_Button</name>
            <choiceReferences>ch_Relog_Yes</choiceReferences>
            <choiceReferences>ch_Relog_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen confirming if user has restarted their computer.</description>
        <name>S04_Restart_Screen</name>
        <label>S04_Restart_Screen</label>
        <locationX>2048</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>S05_VDI_Screen</targetReference>
        </connector>
        <fields>
            <name>Question_Number_2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Question 2 out of 12&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Restart_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Have you restarted your computer?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ch_Restart_Button</name>
            <choiceReferences>ch_Restart_Yes</choiceReferences>
            <choiceReferences>ch_Restart_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen asking running user if they are working inside the VDI or outside of it.</description>
        <name>S05_VDI_Screen</name>
        <label>S05_VDI_Screen</label>
        <locationX>2048</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>S06_Contacted_Internal_IT</targetReference>
        </connector>
        <fields>
            <name>Question_Number_3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Question 3 out of 12&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VDI_Header</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Are you taking the calls in the VDI?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VDI_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;If you are try to work outside the VDI if you are currently working outside the VDI please try switching to using the VDI.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ch_VDI_Screen</name>
            <choiceReferences>ch_VDI_Inside</choiceReferences>
            <choiceReferences>ch_VDI_Outside</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen asking whether the running user has contacted their internal support.</description>
        <name>S06_Contacted_Internal_IT</name>
        <label>S06_Contacted_Internal_IT</label>
        <locationX>2048</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CHECK_Contacted_Internal_IT</targetReference>
        </connector>
        <fields>
            <name>Question_Number_4</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Question 4 out of 12&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text_ContactedInternalIT</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Have you contacted your internal IT Support?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please always do that first-hand before contacting us.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ch_ContactedInternal_IT</name>
            <choiceReferences>ch_Internal_IT_Contacted</choiceReferences>
            <choiceReferences>ch_Internal_IT_NotContacted</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen asking if the running user is sitting remote or in office.</description>
        <name>S07_Are_You_Remote</name>
        <label>S07_Are_You_Remote</label>
        <locationX>1542</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CHECK_Is_Remote</targetReference>
        </connector>
        <fields>
            <name>Question_Number_5</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Question 5 out of 12&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Remote_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Are you working in office or remote?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ch_RemoteOrOffice</name>
            <choiceReferences>ch_Work_InOffice</choiceReferences>
            <choiceReferences>ch_Work_Remote</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen Deflecting users who has not contacted their Internal IT first.</description>
        <name>S07_Contact_Internal_IT_First</name>
        <label>S07_Contact_Internal_IT_First</label>
        <locationX>2554</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ACT_Contact_Internal_IT_First</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Text_InternetIssueSolved</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Thank you for contacting your internal IT first to troubleshoot your issue. If the problem persists please proceed to make a case to us.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;We wish you a good day!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Best Regards, IT&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen asking the running user if their internet connection is good or bad.</description>
        <name>S08_Internet_Connection</name>
        <label>S08_Internet_Connection</label>
        <locationX>1960</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CHECK_Internet_Connection</targetReference>
        </connector>
        <fields>
            <name>Question_Number_6</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Question 6 out of 12&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Internet_Connection_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;How is your internet connection?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ch_InternetConnection</name>
            <choiceReferences>ch_Internet_Good</choiceReferences>
            <choiceReferences>ch_Internet_Bad</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen with a link to knowledge base where we display answers to FAQ and guide how to assign access.</description>
        <name>S09_Internet_Knowledge_Link</name>
        <label>S09_Internet_Knowledge_Link</label>
        <locationX>2158</locationX>
        <locationY>1538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CHECK_Issue_Solved_Internet</targetReference>
        </connector>
        <fields>
            <name>Text_Internet</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please proceed to run a &lt;/span&gt;&lt;a href=&quot;https://www.speedtest.net/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;speedtest.net&lt;/a&gt; &lt;span style=&quot;font-size: 16px;&quot;&gt;and upload a screenshot of the results at the end of the interview of questions.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Best regards&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;IT&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ch_Internet_Connection_Knowledge</name>
            <choiceReferences>ch_Article_Internet_Solved_Issue</choiceReferences>
            <choiceReferences>ch_Article_Internet_NotSolved_Issue</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen checking if remote running user has reset their router.</description>
        <name>S10_Reset_Router</name>
        <label>S10_Reset_Router</label>
        <locationX>2290</locationX>
        <locationY>1754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>S11_WiFi_Or_Cable</targetReference>
        </connector>
        <fields>
            <name>Question_Number_7</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Question 7 out of 12&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RestartedRouter_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Have you reset your router?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ch_ResetRouter_Button</name>
            <choiceReferences>ch_Reset_Router_Yes</choiceReferences>
            <choiceReferences>ch_Reset_Router_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen checking if remote running user is using wifi or cable.</description>
        <name>S11_WiFi_Or_Cable</name>
        <label>S11_WiFi_Or_Cable</label>
        <locationX>2290</locationX>
        <locationY>1862</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>S12_Is_Microphone_Enabled</targetReference>
        </connector>
        <fields>
            <name>Question_Number_8</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Question 8 out of 12&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WifiCable_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Are you using Wi-Fi or Cable?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ch_Wifi_Or_Cable</name>
            <choiceReferences>ch_Network_WiFi</choiceReferences>
            <choiceReferences>ch_Network_Cable</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WIFI_Cable_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;If you have the ability to please try switching from Wi-Fi to cable or vice versa.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to confirm if running user has their microphone in the browser window enabled or not.</description>
        <name>S12_Is_Microphone_Enabled</name>
        <label>S12_Is_Microphone_Enabled</label>
        <locationX>1124</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CHECK_Is_Microphone_Enabled</targetReference>
        </connector>
        <fields>
            <name>Question_Number_9</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Question 9 out of 12&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Microphone_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Is your microphone enabled in the browser window?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ch_Microphone_Enabled</name>
            <choiceReferences>ch_Microphone_Enabled_Yes</choiceReferences>
            <choiceReferences>ch_Microphone_Enabled_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen with a link to knowledge base where we display answers on how to enable microphone in the web browser window.</description>
        <name>S13_Microphone_Knowledge_Link</name>
        <label>S13_Microphone_ Knowledge_Link</label>
        <locationX>1366</locationX>
        <locationY>1538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CHECK_IssueSolved_Microphone</targetReference>
        </connector>
        <fields>
            <name>Microphone_Text2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please make sure your microphone is enabled in your browser window.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please make sure your microphone is turned on and working.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Best regards&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;IT&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ch_Microphone_Enabled_Knowledge</name>
            <choiceReferences>ch_Article_Microphone_Solved_Issue</choiceReferences>
            <choiceReferences>ch_Article_Microphone_NotSolved_Issue</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen asking user if they have downloaded the CCP Debug logs.</description>
        <name>S14_DebugLog_Screen</name>
        <label>S14_DebugLog_Screen</label>
        <locationX>882</locationX>
        <locationY>1538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CHECK_DebugLog_Downloaded</targetReference>
        </connector>
        <fields>
            <name>Question_Number_10</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Question 10 out of 12&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Debug_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Have you downloaded the CCP Debug logs from the widget?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ch_DebugScreen</name>
            <choiceReferences>ch_Debug_Downloaded</choiceReferences>
            <choiceReferences>ch_Debug_Not_Downloaded</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen confirming that the articles have helped the running user.</description>
        <name>S14_Issue_Auto_Solved</name>
        <label>S14_Issue_Auto_Solved</label>
        <locationX>1234</locationX>
        <locationY>2510</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ACT_Minimize_Auto_Solved</targetReference>
        </connector>
        <fields>
            <name>Text_IssueAutoSolved</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;We are glad to hear that your issue was resolved.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;We wish you a good day!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Best Regards, IT&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen with a link to knowledge base where we display answers on how to enable microphone in the web browser window.</description>
        <name>S15_DebugLog_Knowledge_Link</name>
        <label>S15_DebugLog_Knowledge_Link</label>
        <locationX>970</locationX>
        <locationY>1754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>S16_Web_Browser</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_Team_Lead_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please click the gear icon in the omni-channel widget, scroll down to the bottom of the settings and click &quot;Download Debug Information&quot; and then upload that file when prompted shortly.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Best regards&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;IT&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ch_DebugLog_Download_Knowledge</name>
            <choiceReferences>ch_Article_Debug_Retrieved</choiceReferences>
            <choiceReferences>ch_Article_Debug_NotRetrieved</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>The user gives information about which web browser they are currently using while working.</description>
        <name>S16_Web_Browser</name>
        <label>S16_Web_Browser</label>
        <locationX>882</locationX>
        <locationY>1946</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>S17_Issue_Reoccuring</targetReference>
        </connector>
        <fields>
            <name>Question_Number_11</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Question 11 out of 12&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WebBrowser_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Which Web Browser do you use while you work?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ch_WebBrowser_Button</name>
            <choiceReferences>ch_Web_Browser_Chrome</choiceReferences>
            <choiceReferences>ch_Web_Browser_Mozilla</choiceReferences>
            <choiceReferences>ch_Web_Browser_Safari</choiceReferences>
            <choiceReferences>ch_Web_Browser_MicrosoftEdge</choiceReferences>
            <choiceReferences>ch_Web_Browser_Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen asking the user if the issue they are experiencing is reoccurring or if its the first time.</description>
        <name>S17_Issue_Reoccuring</name>
        <label>S17_Issue_Reoccuring</label>
        <locationX>882</locationX>
        <locationY>2054</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SET_Choice_Values</targetReference>
        </connector>
        <fields>
            <name>Question_Number_12</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Question 12 out of 12&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>IssueReoccuring_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;How often do you experience this issue?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ch_Issue_Reoccurrence</name>
            <choiceReferences>ch_Reoccurence_AllTheTime</choiceReferences>
            <choiceReferences>ch_Reouccurence_Often</choiceReferences>
            <choiceReferences>ch_Reoccurrence_Sometimes</choiceReferences>
            <choiceReferences>ch_Reoccurrence_FirstTime</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen for entering the team lead or supervisor if they are not a user in the salesforce org.</description>
        <name>S18_Enter_TeamLead_Supervisor</name>
        <label>S18_Enter_TeamLead_Supervisor</label>
        <locationX>3214</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ASSIGN_TeamLead_Checkbox_Value</targetReference>
        </connector>
        <fields>
            <name>Text_TeamLead</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Please enter the contact information to your Team Lead/Supervisor on duty.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Lookup_Select_Team_Lead</name>
            <choiceReferences>ch_Select_TeamLead</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Select Team Lead</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ch_TeamLead_NotIn_SF</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Team_Lead_SF_Form_Email</name>
            <dataType>String</dataType>
            <fieldText>Contact Email</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please enter the Email adress that the person is currently using for contact.&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ch_TeamLead_NotIn_SF</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Team_Lead_SF_Form_Phone</name>
            <dataType>String</dataType>
            <fieldText>Contact Phone</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 16px;&quot;&gt;Please enter the phone number that the person is currently using for contact.&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ch_TeamLead_NotIn_SF</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ch_TeamLead_NotIn_SF</name>
            <dataType>Boolean</dataType>
            <fieldText>My Team Lead is not in Salesforce</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen for entering the team lead or supervisor if they are not a user in the salesforce org.</description>
        <name>S19_Enter_TeamLead_Supervisor_Not_In_Salesforce</name>
        <label>S19_Enter_TeamLead_Supervisor_Not_In_Salesforce</label>
        <locationX>3082</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ASSIGN_TeamLead_Not_In_SF</targetReference>
        </connector>
        <fields>
            <name>Text_TeamLead_Not_In_SF</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Please enter the contact information to a Team Lead/Supervisor on duty related to the case.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TeamLead_Form_First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TeamLead_Form_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TeamLead_Form_Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TeamLead_Form_Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen enabling the running user to enter the affected agents</description>
        <name>S20_Enter_Affected_Agents</name>
        <label>S20_Enter_Affected_Agents</label>
        <locationX>3214</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ASSIGN_Issue</targetReference>
        </connector>
        <fields>
            <name>Form_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Please enter &lt;/span&gt;&lt;span style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;(up to 10)&lt;/span&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt; agents that has experienced this issue. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Affected_Agent_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Related_User__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Agent(s)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Affected_User__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen for uploading files related to the FPS Case.</description>
        <name>S21_Upload_Files_Screen</name>
        <label>S21_Upload_Files_Screen</label>
        <locationX>2170</locationX>
        <locationY>5078</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GET_Content_Version</targetReference>
        </connector>
        <fields>
            <name>Please_Upload_Speedtest</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please upload a screenshot of your speedtest results.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ch_Internet_Bad</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DebugLog_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please upload your CCP debug log file that you download from the Omni-Channel widget.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>ch_Article_Debug_Retrieved</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ch_Debug_Downloaded</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Please_Upload_Files</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please upload relevant files and screenshots so that we can handle the case as swiftly and effectively as possible&lt;/span&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;The files you upload will be visible in the next screen.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Atttach Screenshot/File</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>caseId_Issue_Or_Feedback</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to display the files/screenshots that has been uploaded.</description>
        <name>S22_Uploaded_Files_Screen</name>
        <label>S22_Uploaded_Files_Screen</label>
        <locationX>2170</locationX>
        <locationY>5402</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CHECK_Upload_More_Files</targetReference>
        </connector>
        <fields>
            <name>Files_Display_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContentVersion</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Your uploaded files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>coll_Content_Version_Records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Title&quot;,&quot;guid&quot;:&quot;column-f4c6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;PathOnClient&quot;,&quot;guid&quot;:&quot;column-8cbc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Path On Client&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Upload_File_More_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please confirm that you have uploaded the necessary files for troubleshooting your issue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ch_UploadedFiles</name>
            <choiceReferences>ch_Upload_AllFiles</choiceReferences>
            <choiceReferences>ch_Upload_MoreFiles</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen confirming the user has created a case.</description>
        <name>S23_Success</name>
        <label>S23_Success</label>
        <locationX>2302</locationX>
        <locationY>5618</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ACT_Minimize_Flow</targetReference>
        </connector>
        <fields>
            <name>Text_Success</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Thank you for contacting us, we will get back to you as soon as possible.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Kind regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;IT&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2044</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>S01_Enter_Issue_Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Access_Description_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Description of what access is needed :
 {!AccessDescription} 
Additional information:
{!text_What_access}</text>
    </textTemplates>
    <textTemplates>
        <name>Access_Permission_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Request for access for {!var_Affected_Users_Number} user(s).</text>
    </textTemplates>
    <textTemplates>
        <name>AutoSolvedTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Automatically Solved {!IssueProduct} Case</text>
    </textTemplates>
    <textTemplates>
        <name>BugTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Product: {!IssueProduct}
Case nr: {!IssueCaseNumber}
Description: {!IssueDescription}
Link to where issue occurs: {!IssueLink}</text>
    </textTemplates>
    <textTemplates>
        <name>FeedbackTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Product: {!FeedbackProduct}
Business Impact: {!FeedbackImpact}
Topic: {!FeedbackTopic}

Description: {!FeedbackDescription}

URL: {!FeedbackLink}</text>
    </textTemplates>
    <textTemplates>
        <name>Issue_Agents_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Issue related to {!IssueProduct} reported for {!var_Affected_Users_Number} agent(s).</text>
    </textTemplates>
    <variables>
        <name>ApprovalProcessInstanceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bool_Error_Message_TeamLead</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>bool_Permission_Not_In_List</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>bool_TeamLead_Not_In_SF</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId_Issue_Internet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId_Issue_Microphone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId_Issue_Or_Feedback</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId_Permission_Access</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>coll_Affected_Users</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Affected_User__c</objectType>
    </variables>
    <variables>
        <name>coll_Content_Version_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>coll_Content_Version_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>coll_Filtered_PermissionSets</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>coll_Selected_PermissionSet_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>coll_UserRoleIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_PermissionsetFilter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSet</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSet</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSet</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSet</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0_0_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSet</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0_0_0_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSet</objectType>
    </variables>
    <variables>
        <name>CurrentUserRoleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.UserRoleId</elementReference>
        </value>
    </variables>
    <variables>
        <description>Variable for storing the current users role name</description>
        <name>CurrentUserRoleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$UserRole.Name</elementReference>
        </value>
    </variables>
    <variables>
        <name>PermissionCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSet</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SinglePermissionSet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSet</objectType>
    </variables>
    <variables>
        <name>UserLookup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>var_Affected_User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Affected_User__c</objectType>
    </variables>
    <variables>
        <description>Number of affected users/agents entered in the flow.</description>
        <name>var_Affected_Users_Number</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_AllChoiceEntries</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CaseDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CaseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CaseTeam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Record_TeamLeadEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>var_SASRoleString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>SAS</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Selected_TeamLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>var_TeamLeadEntry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_TeamLeadRoleString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Team Lead</stringValue>
        </value>
    </variables>
</Flow>
