sas-core/main/default/flows/CASE_Generate_Voice_Survey_Invitation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SurveyInvitationService</name>
        <label>SurveyInvitationService</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <actionName>SurveyInvitationUrlShortener</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>surveyInvitationLink</name>
            <value>
                <elementReference>surveyInvitationLink</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>surveyInviteId</name>
            <value>
                <elementReference>Get_Survey_Invitation_Link.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SurveyInvitationUrlShortener</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Has_a_survey_been_found</name>
        <label>Has a survey been found?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Id_for_Customer_Feedback</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Survey_Invitation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>CASE Generate Voice Survey Invitation</description>
    <environments>Default</environments>
    <formulas>
        <name>isRandomPassed</name>
        <dataType>Number</dataType>
        <expression>MOD(VALUE({!caseRecord.CaseNumber}),1)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>languageFormula</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!voiceRecord.Caller_IVR_Language__c}) = &apos;SV&apos;, 
	&apos;sv-SE&apos;, 
	IF(TEXT({!voiceRecord.Caller_IVR_Language__c}) = &apos;NO&apos;, 
		&apos;no-NO&apos;, 
		IF(TEXT({!voiceRecord.Caller_IVR_Language__c}) = &apos;DA&apos;, 
			&apos;da-DK&apos;, 
			IF(TEXT({!voiceRecord.Caller_IVR_Language__c}) = &apos;EN&apos;, &apos;en-US&apos;, &apos;en-US&apos;))))</expression>
    </formulas>
    <formulas>
        <name>surveyInvitationLink</name>
        <dataType>String</dataType>
        <expression>{!Get_Survey_Invitation_Link.InvitationLink} + &quot;&amp;guestUserLang=&quot; +{!languageFormula}</expression>
    </formulas>
    <interviewLabel>CASE Generate Voice Survey Invitation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CASE Generate Voice Survey Invitation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Survey_Invitation</name>
        <label>Create Survey Invitation</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Get_Survey_Invitation_Link</targetReference>
        </connector>
        <inputAssignments>
            <field>CommunityId</field>
            <value>
                <elementReference>SAScommunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FCS_RelatedCase__c</field>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>caseRecord.CaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OptionsAllowGuestUserResponse</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OptionsCollectAnonymousResponse</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyId</field>
            <value>
                <elementReference>surveyId</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyInvitation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_SASCommunityId</name>
        <label>Get SASCommunityId</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Survey_Id_for_Customer_Feedback</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SAS</stringValue>
            </value>
        </filters>
        <object>Network</object>
        <outputAssignments>
            <assignToReference>SAScommunityId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Survey_Id_for_Customer_Feedback</name>
        <label>Get Survey Id for Customer Feedback</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_a_survey_been_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.SurveyNameForVoiceCall</elementReference>
            </value>
        </filters>
        <object>Survey</object>
        <outputAssignments>
            <assignToReference>surveyId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Survey_Invitation_Link</name>
        <label>Get Survey Invitation Link</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Survey_Information_to_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Survey_Invitation</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SurveyInvitation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Survey_Information_to_Case</name>
        <label>Update Survey Information to Case</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>SurveyInvitationService</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FCS_LatestSurveyInvitation__c</field>
            <value>
                <elementReference>Create_Survey_Invitation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FCS_SurveyInvitationLink__c</field>
            <value>
                <elementReference>surveyInvitationLink</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SASCommunityId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>SAScommunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Survey_Randomizer_Setting_Data</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SMS_Survey_Randomizer_Setting__mdt</objectType>
    </variables>
    <variables>
        <name>surveyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>voiceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>VoiceCall</objectType>
    </variables>
</Flow>
