sas-core/main/default/flows/CASE_Process_Builder_Open.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>CASE Process Builder Open {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CASE Process Builder Open</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_Status_Open_Subflows</targetReference>
        </connector>
        <filterLogic>((1 OR 2) AND 3) AND 4 AND 5 AND 6</filterLogic>
        <filters>
            <field>Origin</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Email - Customer Claim</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Email - SAS Poland</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsReadOnly__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>New Response</stringValue>
            </value>
        </filters>
        <filters>
            <field>Number_of_Email_Messages_Received__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Case_Status_Open_Subflows</name>
        <label>Case Status Open Subflows</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Create_Survey</targetReference>
        </connector>
        <flowName>Case_Status_Open_Subflows</flowName>
        <inputAssignments>
            <name>CaseRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Survey</name>
        <label>Create Survey</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <flowName>CASE_Process_Builder_Create_Survey</flowName>
        <inputAssignments>
            <name>Case</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
