sas-core/main/default/flows/CASE_Route_And_Set_Priority.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Case_To_Update_List</name>
        <label>Add Case To Update List</label>
        <locationX>1584</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>CasesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Cases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Route_To_Baggage</name>
        <label>Route To Baggage</label>
        <locationX>1584</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>Loop_Cases.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Baggage_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_The_Case_Have_A_Special_Priority</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Route_To_Care_Expenses</name>
        <label>Route To Care Expenses</label>
        <locationX>2112</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>Loop_Cases.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Care_Expenses_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_The_Case_Have_A_Special_Priority</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Route_To_Compensation_Card</name>
        <label>Route To Compensation Card</label>
        <locationX>1320</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>Loop_Cases.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Compensation_Card_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_The_Case_Have_A_Special_Priority</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Route_To_EU261</name>
        <label>Route To EU261</label>
        <locationX>792</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>Loop_Cases.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EU261_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_The_Case_Have_A_Special_Priority</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Route_To_Flight_Disruptions</name>
        <label>Route To Flight Disruptions</label>
        <locationX>1056</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>Loop_Cases.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Flight_Disruptions_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_The_Case_Have_A_Special_Priority</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Route_To_Flight_Disruptions_Expenses</name>
        <label>Route To Flight Disruptions Expenses</label>
        <locationX>1848</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>Loop_Cases.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Flight_Disruptions_Expenses_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_The_Case_Have_A_Special_Priority</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adding this assignment element to route high tier cases to high tier queue.</description>
        <name>Route_To_High_Tier</name>
        <label>Route To High Tier</label>
        <locationX>528</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>Loop_Cases.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>High_Tier_Claims_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_The_Case_Have_A_Special_Priority</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Route_To_Other</name>
        <label>Route To Other</label>
        <locationX>2904</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>Loop_Cases.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_The_Case_Have_A_Special_Priority</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Route_To_SAS_Automation_Queue</name>
        <label>Route To SAS Automation Queue</label>
        <locationX>264</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>Loop_Cases.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SAS_Automation_Queue_1.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_The_Case_Have_A_Special_Priority</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Route_To_Sensitive_Topics</name>
        <label>Route To Sensitive Topics</label>
        <locationX>2376</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>Loop_Cases.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sensitive_Topics_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_The_Case_Have_A_Special_Priority</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Route_To_Travel_Extra_Refunds</name>
        <label>Route To Travel Extra Refunds</label>
        <locationX>2640</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>Loop_Cases.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Travel_Extra_Refunds_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_The_Case_Have_A_Special_Priority</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Baggage_Queue</name>
        <label>Set Baggage Queue</label>
        <locationX>1848</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Baggage_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Group_Variables</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Group_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Care_Expenses_Queue</name>
        <label>Set Care Expenses Queue</label>
        <locationX>1320</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Care_Expenses_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Group_Variables</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Group_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Compensation_Card_Queue</name>
        <label>Set Compensation Card Queue</label>
        <locationX>2112</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Compensation_Card_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Group_Variables</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Group_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_EU261_Queue</name>
        <label>Set EU261 Queue</label>
        <locationX>1056</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>EU261_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Group_Variables</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Group_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Flight_Disruption_Expenses_Queue</name>
        <label>Set Flight Disruption Expenses Queue</label>
        <locationX>1584</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Flight_Disruptions_Expenses_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Group_Variables</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Group_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Flight_Disruptions_Queue</name>
        <label>Set Flight Disruptions Queue</label>
        <locationX>792</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Flight_Disruptions_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Group_Variables</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Group_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_High_Care_Cost_Queue</name>
        <label>Set High Care Cost Queue</label>
        <locationX>528</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>High_Care_Costs_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Group_Variables</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Group_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adding this element to create a record variable for the high tier claims queue to be used in the flow.</description>
        <name>Set_High_Tier_Claims_Queue</name>
        <label>Set High Tier Claims Queue</label>
        <locationX>2904</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>High_Tier_Claims_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Group_Variables</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Group_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Other_Queue</name>
        <label>Set Other Queue</label>
        <locationX>3168</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Other_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Group_Variables</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Group_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Priority_To_Critical</name>
        <label>Set Priority To Critical</label>
        <locationX>1188</locationX>
        <locationY>1142</locationY>
        <assignmentItems>
            <assignToReference>Loop_Cases.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Critical</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Case_To_Update_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Priority_To_High</name>
        <label>Set Priority To High</label>
        <locationX>1716</locationX>
        <locationY>1142</locationY>
        <assignmentItems>
            <assignToReference>Loop_Cases.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Case_To_Update_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SAS_Automation_Queue</name>
        <label>Set SAS Automation Queue</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>SAS_Automation_Queue_1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Group_Variables</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Group_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Sensitive_Topics_Queue</name>
        <label>Set Sensitive Topics Queue</label>
        <locationX>2376</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Sensitive_Topics_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Group_Variables</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Group_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Travel_Extra_Refunds_Queue</name>
        <label>Set Travel Extra Refunds Queue</label>
        <locationX>2640</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Travel_Extra_Refunds_Queue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Group_Variables</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Group_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_urgent_priority</name>
        <label>Set Priority To Urgent</label>
        <locationX>1452</locationX>
        <locationY>1142</locationY>
        <assignmentItems>
            <assignToReference>Loop_Cases.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Urgent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Case_To_Update_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Should_The_Case_Have_A_Special_Priority</name>
        <label>Should The Case Have A Special Priority?</label>
        <locationX>1584</locationX>
        <locationY>1034</locationY>
        <defaultConnector>
            <targetReference>Add_Case_To_Update_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Critical_Priority</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cases.FCS_EBLevel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Priority_To_Critical</targetReference>
            </connector>
            <label>Yes, Critical Priority</label>
        </rules>
        <rules>
            <name>Urgent_Priority</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cases.FCS_EBLevel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_urgent_priority</targetReference>
            </connector>
            <label>Yes, Urgent Priority</label>
        </rules>
        <rules>
            <name>Yes_High_Priority</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cases.FCS_EBLevel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Priority_To_High</targetReference>
            </connector>
            <label>Yes, High Priority</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Queue_Is_It</name>
        <label>What Queue Is It?</label>
        <locationX>1716</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Set_Other_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>SAS_Automation_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_Group_Variables.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAS Automation Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SAS_Automation_Queue</targetReference>
            </connector>
            <label>SAS Automation Queue</label>
        </rules>
        <rules>
            <name>High_Care_Costs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_Group_Variables.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Claims - High Care Costs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_High_Care_Cost_Queue</targetReference>
            </connector>
            <label>High Care Costs</label>
        </rules>
        <rules>
            <name>Flight_Disruptions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_Group_Variables.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Claims - Flight Disruptions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Flight_Disruptions_Queue</targetReference>
            </connector>
            <label>Flight Disruptions</label>
        </rules>
        <rules>
            <name>EU261</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_Group_Variables.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Claims - EU261</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_EU261_Queue</targetReference>
            </connector>
            <label>EU261</label>
        </rules>
        <rules>
            <name>Care_Expenses</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_Group_Variables.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Claims - Care Expenses</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Care_Expenses_Queue</targetReference>
            </connector>
            <label>Care Expenses</label>
        </rules>
        <rules>
            <name>Flight_Disruptions_Expenses</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_Group_Variables.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Claims - Flight Disruptions Expenses</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Flight_Disruption_Expenses_Queue</targetReference>
            </connector>
            <label>Flight Disruptions Expenses</label>
        </rules>
        <rules>
            <name>Baggage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_Group_Variables.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Claims - Baggage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Baggage_Queue</targetReference>
            </connector>
            <label>Baggage</label>
        </rules>
        <rules>
            <name>Compensation_Card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_Group_Variables.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Claims - Compensation Card</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Compensation_Card_Queue</targetReference>
            </connector>
            <label>Compensation Card</label>
        </rules>
        <rules>
            <name>Sensitive_Topics</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_Group_Variables.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Claims - Sensitive Topics</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Sensitive_Topics_Queue</targetReference>
            </connector>
            <label>Sensitive Topics</label>
        </rules>
        <rules>
            <name>Travel_Extra_Refunds</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_Group_Variables.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Claims - Travel Extra Refunds</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Travel_Extra_Refunds_Queue</targetReference>
            </connector>
            <label>Travel Extra Refunds</label>
        </rules>
        <rules>
            <name>High_Tier_Claims</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_Group_Variables.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Claims - High Tier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_High_Tier_Claims_Queue</targetReference>
            </connector>
            <label>High Tier Claims</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Queue_Is_It_0</name>
        <label>What Queue Is It?</label>
        <locationX>1584</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Route_To_Other</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>SAS_Automation</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cases.LIA_Claim__r.Customer_Claim_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flight cancellation - compensation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Cases.LIA_Claim__r.Customer_Claim_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flight delay - compensation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Cases.LIA_Claim__r.Customer_Claim_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Missed connection - compensation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Cases.LIA_Claim__r.Customer_Claim_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flight cancellation - expenses</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Cases.LIA_Claim__r.Customer_Claim_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flight delay - expenses</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Cases.LIA_Claim__r.Customer_Claim_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Missed connection - expenses</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Cases.LIA_Claim__r.External_Data_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Started</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Route_To_SAS_Automation_Queue</targetReference>
            </connector>
            <label>SAS Automation</label>
        </rules>
        <rules>
            <name>High_Tier</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cases.FCS_EBLevel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Cases.FCS_EBLevel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Route_To_High_Tier</targetReference>
            </connector>
            <label>High Tier</label>
        </rules>
        <rules>
            <name>EU261_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cases.LIA_Claim__r.Customer_Claim_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flight cancellation - compensation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Cases.LIA_Claim__r.Customer_Claim_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flight delay - compensation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Cases.LIA_Claim__r.Customer_Claim_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Missed connection - compensation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Route_To_EU261</targetReference>
            </connector>
            <label>EU261</label>
        </rules>
        <rules>
            <name>Flight_Disruptions_0</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cases.LIA_Claim__r.Customer_Claim_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flight cancellation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Cases.LIA_Claim__r.Customer_Claim_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flight delay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Cases.LIA_Claim__r.Customer_Claim_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Missed connection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Cases.LIA_Claim__r.Submitted_Claim_Expenses_in_SEK__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Route_To_Flight_Disruptions</targetReference>
            </connector>
            <label>Flight Disruptions</label>
        </rules>
        <rules>
            <name>Compensation_Card_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cases.LIA_Claim__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CompensationCard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Route_To_Compensation_Card</targetReference>
            </connector>
            <label>Compensation Card</label>
        </rules>
        <rules>
            <name>Baggage_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cases.LIA_Claim__r.Customer_Claim_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Baggage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Route_To_Baggage</targetReference>
            </connector>
            <label>Baggage</label>
        </rules>
        <rules>
            <name>Flight_Disruptions_Expenses_0</name>
            <conditionLogic>(1 OR 2 OR 3 ) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cases.LIA_Claim__r.Customer_Claim_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flight delay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Cases.LIA_Claim__r.Customer_Claim_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flight cancellation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Cases.LIA_Claim__r.Customer_Claim_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Missed connection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Cases.LIA_Claim__r.Submitted_Claim_Expenses_in_SEK__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Route_To_Flight_Disruptions_Expenses</targetReference>
            </connector>
            <label>Flight Disruptions Expenses</label>
        </rules>
        <rules>
            <name>Care_Expenses_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cases.LIA_Claim__r.Customer_Claim_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flight cancellation - expenses</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Cases.LIA_Claim__r.Customer_Claim_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flight delay - expenses</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Cases.LIA_Claim__r.Customer_Claim_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Missed connection - expenses</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Route_To_Care_Expenses</targetReference>
            </connector>
            <label>Care Expenses</label>
        </rules>
        <rules>
            <name>Sensitive_Topics_2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cases.LIA_Claim__r.Customer_Claim_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accident &amp; injury</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Cases.LIA_Claim__r.Customer_Claim_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Airport experience</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Route_To_Sensitive_Topics</targetReference>
            </connector>
            <label>Sensitive Topics</label>
        </rules>
        <rules>
            <name>Travel_Extra_Refunds_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cases.LIA_Claim__r.Customer_Claim_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel extras bought not rendered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Route_To_Travel_Extra_Refunds</targetReference>
            </connector>
            <label>Travel Extra Refunds</label>
        </rules>
    </decisions>
    <description>Sets the priority of the Case and routes it to the appropriate queue. Updated position of High tier routing to before EU261.</description>
    <environments>Default</environments>
    <interviewLabel>CASE: Route And Set Priority {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CASE: Route And Set Priority</label>
    <loops>
        <name>Loop_Cases</name>
        <label>Loop Cases</label>
        <locationX>176</locationX>
        <locationY>626</locationY>
        <collectionReference>Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>What_Queue_Is_It_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Route_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Set_Group_Variables</name>
        <label>Set Group Variables</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>Groups</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>What_Queue_Is_It</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Route_Cases</name>
        <label>Route Cases</label>
        <locationX>176</locationX>
        <locationY>1526</locationY>
        <inputReference>CasesToUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Group_Variables</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Baggage_Queue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>Care_Expenses_Queue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>Cases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CasesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Compensation_Card_Queue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>EU261_Queue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>Flight_Disruptions_Expenses_Queue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>Flight_Disruptions_Queue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>Groups</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>High_Care_Costs_Queue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>High_Priority_Queue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>High_Tier_Claims_Queue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>Other_Queue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>SAS_Automation_Queue_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>Sensitive_Topics_Queue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>Travel_Extra_Refunds_Queue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
</Flow>
