sas-core/main/default/flows/ContactFPS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Minimize_flow_screen</name>
        <label>Minimize flow screen</label>
        <locationX>446</locationX>
        <locationY>1190</locationY>
        <actionName>c:MinimizeUtilityItem</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>Show_in_feed</name>
        <label>Show in feed</label>
        <locationX>446</locationX>
        <locationY>866</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>UpdateOwner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>CreateFPSCase</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>SetCaseFields1</name>
        <label>SetCaseFields1</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>CaseSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Request for access</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccessTemplate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseTeam</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Access</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetFPSGroupId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCaseFields2</name>
        <label>SetCaseFields2</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>CaseSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IssueSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BugTemplate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseTeam</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Issue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetFPSGroupId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCaseFields3</name>
        <label>SetCaseFields3</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>CaseSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FeedbackSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FeedbackTemplate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseTeam</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal Feedback</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetFPSGroupId</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AskAccess</name>
        <choiceText>Request access</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>[Access]</stringValue>
        </value>
    </choices>
    <choices>
        <name>FeedbackChat</name>
        <choiceText>Chat</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chat</stringValue>
        </value>
    </choices>
    <choices>
        <name>FeedbackOther</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>FeedbackSalesforce</name>
        <choiceText>Salesforce</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Salesforce</stringValue>
        </value>
    </choices>
    <choices>
        <name>FeedbackSassi</name>
        <choiceText>SAS Sales Information</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SAS Sales Information</stringValue>
        </value>
    </choices>
    <choices>
        <name>FeedbackTemplates</name>
        <choiceText>Templates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Templates</stringValue>
        </value>
    </choices>
    <choices>
        <name>FeedbackWebsite</name>
        <choiceText>Website</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Website</stringValue>
        </value>
    </choices>
    <choices>
        <name>IsssueEmail</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>IssueCase</name>
        <choiceText>Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>IssueChat</name>
        <choiceText>Chat</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chat</stringValue>
        </value>
    </choices>
    <choices>
        <name>IssueOther</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>IssueSettlement</name>
        <choiceText>Settlement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Settlement</stringValue>
        </value>
    </choices>
    <choices>
        <name>IssueTelephony</name>
        <choiceText>Telephony</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Telephony</stringValue>
        </value>
    </choices>
    <choices>
        <name>ReportBug</name>
        <choiceText>Report an issue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>[Bug]</stringValue>
        </value>
    </choices>
    <choices>
        <name>SubmitFeedback</name>
        <choiceText>Submit feedback</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FeedbackSuggestion</stringValue>
        </value>
    </choices>
    <decisions>
        <name>SetValues</name>
        <label>Set values based on type of request</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>GetFPSGroupId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AccessOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AskAccess</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCaseFields1</targetReference>
            </connector>
            <label>AccessOutcome</label>
        </rules>
        <rules>
            <name>IssueOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ReportBug</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCaseFields2</targetReference>
            </connector>
            <label>IssueOutcome</label>
        </rules>
        <rules>
            <name>FeedbackOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SubmitFeedback</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCaseFields3</targetReference>
            </connector>
            <label>FeedbackOutcome</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CasePriority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>FeedbackSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[&quot; &amp; {!FeedbackProduct} &amp; &quot;]&quot; &amp; &quot; &quot; &amp;  LEFT({!FeedbackTopic}, 50)</expression>
    </formulas>
    <formulas>
        <name>IssueSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[&quot; &amp; {!Severity} &amp; &quot;]&quot; &amp; &quot; &quot; &amp;  LEFT({!IssueTopic}, 50)</expression>
    </formulas>
    <interviewLabel>Contact Functional Product Support {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Functional Product Support</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateFPSCase</name>
        <label>CreateFPSCase</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Show_in_feed</targetReference>
        </connector>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>Functional Product Support</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FCS_CaseType__c</field>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Internal - Functional Product Support</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Severity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetFPSRecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team__c</field>
            <value>
                <elementReference>CaseTeam</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetFPSGroupId</name>
        <label>GetFPSGroupId</label>
        <locationX>446</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetFPSRecordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Functional Product Support</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetFPSRecordTypeId</name>
        <label>GetFPSRecordTypeId</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateFPSCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Functional Product Support</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateOwner</name>
        <label>Update Owner</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateFPSCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetFPSGroupId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Enter_Issue_Information</name>
        <label>Enter Issue Information</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetValues</targetReference>
        </connector>
        <fields>
            <name>RequestType</name>
            <choiceReferences>ReportBug</choiceReferences>
            <choiceReferences>AskAccess</choiceReferences>
            <choiceReferences>SubmitFeedback</choiceReferences>
            <dataType>String</dataType>
            <fieldText>I would like to:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Enter_Issue_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Issue_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Who_needs_access</name>
                    <fieldText>Who needs access?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;Please use the format Full name - Employee ID &lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>NeedAccess</name>
                    <fieldText>What access is needed?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;For example, to a listview or a report.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RequestType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>AskAccess</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Issue_Information_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Issue_Information_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IssueTopic</name>
                    <dataType>String</dataType>
                    <fieldText>Topic</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Write a short topic about the issue&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>IssueDescription</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;Include products, what happened, expected outcomes, error messages, and steps to reproduce&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>IssueProduct</name>
                    <choiceReferences>IssueCase</choiceReferences>
                    <choiceReferences>IssueChat</choiceReferences>
                    <choiceReferences>IsssueEmail</choiceReferences>
                    <choiceReferences>IssueSettlement</choiceReferences>
                    <choiceReferences>IssueTelephony</choiceReferences>
                    <choiceReferences>IssueOther</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Product</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Select the product that you want to report an issue for, if it is not in the list you can select &quot;Other&quot;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>IssueCaseNumber</name>
                    <dataType>String</dataType>
                    <fieldText>Case number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IssueProduct</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>IssueOther</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>IssueProduct</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue></stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Severity</name>
                    <choiceReferences>CasePriority</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Severity</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Support cases are classified by the urgency of the issue. Severity &quot;Critical&quot; are considered business-disruptive or may pose financial risks, while Severity &quot;Low&quot; cases do not affect operations or may already have a temporary solution. Choose carefully how urgent your matter is.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>IssueLink</name>
                    <dataType>String</dataType>
                    <fieldText>Please provide a link to where the issue occurred</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RequestType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ReportBug</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Issue_Information_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Issue_Information_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FeedbackTopic</name>
                    <dataType>String</dataType>
                    <fieldText>Topic</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FeedbackDescription</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FeedbackProduct</name>
                    <choiceReferences>FeedbackSalesforce</choiceReferences>
                    <choiceReferences>FeedbackSassi</choiceReferences>
                    <choiceReferences>FeedbackWebsite</choiceReferences>
                    <choiceReferences>FeedbackChat</choiceReferences>
                    <choiceReferences>FeedbackTemplates</choiceReferences>
                    <choiceReferences>FeedbackOther</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Product</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Please select the product that your feedback is related to, if not in the list select &quot;Other&quot;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FeedbackImpact</name>
                    <dataType>String</dataType>
                    <fieldText>Business Impact</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Please describe the business impact of the suggested feedback&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FeedbackLink</name>
                    <dataType>String</dataType>
                    <fieldText>URL</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;If the feedback is for a website or a page, please insert the URL here.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RequestType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>SubmitFeedback</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Minimize_flow_screen</targetReference>
        </connector>
        <fields>
            <name>FileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Atttach Screenshot/File (Optional)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CreateFPSCase</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ThankYouMsg</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you for contacting us.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We will get back to you shortly!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Enter_Issue_Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AccessTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>I need access to: {!NeedAccess}
for the following people: {!Who_needs_access}</text>
    </textTemplates>
    <textTemplates>
        <name>BugTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Product: {!IssueProduct}
Case nr: {!IssueCaseNumber}
Severity: {!Severity}
Topic: {!IssueTopic}

Description: {!IssueDescription}


Link to where issue occurs: {!IssueLink}</text>
    </textTemplates>
    <textTemplates>
        <name>FeedbackTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Product: {!FeedbackProduct}
Business Impact: {!FeedbackImpact}
Topic: {!FeedbackTopic}

Description: {!FeedbackDescription}

URL: {!FeedbackLink}</text>
    </textTemplates>
    <variables>
        <name>CaseDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseTeam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
