sas-core/main/default/flows/FPS_Knowledge_TRG_AfterCreate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>Assigning the FCS Type selected picklist value to a text variable to be able to map it to Data Category, doing the same with the FCS Sub-Type.</description>
        <name>ASSIGN_FCS_Type_To_Variable</name>
        <label>ASSIGN_FCS_Type_To_Variable</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>var_FCSTypeString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FCS_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SubTypeString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FCS_SubType__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CREATE_Data_Category_Assignment</targetReference>
        </connector>
    </assignments>
    <description>FPS flow for knowledge to assign knowledge type and sub-type to data category and sub-category.</description>
    <environments>Default</environments>
    <formulas>
        <name>form_APISubType</name>
        <dataType>String</dataType>
        <expression>&apos;DC_&apos; + {!var_SubTypeString}</expression>
    </formulas>
    <formulas>
        <name>form_FCSTypeAPI</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!var_FCSTypeString}, &apos; &apos;, &apos;_&apos;)</expression>
    </formulas>
    <interviewLabel>Knowledge_FPS_TRG_AfterCreate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FPS_Knowledge_TRG_AfterCreate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creating data category assignment from the selected type and sub-type.</description>
        <name>CREATE_Data_Category_Assignment</name>
        <label>CREATE_Data_Category_Assignment</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>DataCategoryGroupName</field>
            <value>
                <elementReference>form_FCSTypeAPI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataCategoryName</field>
            <value>
                <elementReference>form_APISubType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Knowledge__DataCategorySelection</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ASSIGN_FCS_Type_To_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FCS_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Functional Product Support</stringValue>
            </value>
        </filters>
        <object>Knowledge__kav</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_FCSTypeString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SubTypeString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
