sas-core/main/default/flows/IVR_Request_TRG_AfterCreate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Should_SMS_Be_Sent</name>
        <label>Should SMS Be Sent?</label>
        <locationX>374</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_SMS_Success_Decision</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>Voice_Call_Record.Caller_IVR_Selection__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CORPB2C</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Voice_Call_Record.Caller_IVR_Selection__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Voice_Call_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Voice_Call_Record.CallType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Allowed_Market_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_SMS_Without_Blocklist</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>PhoneStartWith</name>
        <dataType>String</dataType>
        <expression>LEFT({!Voice_Call_Record.FromPhoneNumber}, 4)</expression>
    </formulas>
    <formulas>
        <name>RequestType</name>
        <dataType>String</dataType>
        <expression>{!$Record.Request_Type__c}</expression>
    </formulas>
    <interviewLabel>IVR_Request_TRG_After {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IVR_Request_TRG_AfterCreate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Allowed_Market_Details</name>
        <label>Get Allowed Market Details</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Should_SMS_Be_Sent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone_Start_With__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PhoneStartWith</elementReference>
            </value>
        </filters>
        <filters>
            <field>Language__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Voice_Call_Record.Caller_IVR_Language__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Messaging_Allowed_Market__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Voice_Call_Record</name>
        <label>Get Voice Call Record</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Allowed_Market_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Voice_Call__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VoiceCall</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Voice_Call__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>IVR_Request__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Voice_Call_Record</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Send SMS Without Blocklist</description>
        <name>Send_SMS_Without_Blocklist</name>
        <label>Send SMS Without Blocklist</label>
        <locationX>242</locationX>
        <locationY>600</locationY>
        <flowName>Send_SMS_without_Blocklist</flowName>
        <inputAssignments>
            <name>Language</name>
            <value>
                <elementReference>Voice_Call_Record.Caller_IVR_Language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Market</name>
            <value>
                <elementReference>Voice_Call_Record.Caller_Market__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RequestType</name>
            <value>
                <elementReference>RequestType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ToPhoneNumber</name>
            <value>
                <elementReference>Voice_Call_Record.FromPhoneNumber</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>MessagingEndUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
