sas-core/main/default/flows/MessagingSession_OMNI_Routing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Route_To_Default</name>
        <label>Copy 1 of Route To Default</label>
        <locationX>2954</locationX>
        <locationY>1190</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>Copy_1_of_CHECK_Route_To_PreviousAgent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N92p0000000EcSCAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>queueId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Route_To_DK</name>
        <label>Copy 1 of Route To DK</label>
        <locationX>2162</locationX>
        <locationY>1190</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>Copy_1_of_CHECK_Route_To_PreviousAgent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N92p0000000EcSCAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>queueId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Route_To_EN</name>
        <label>Copy 1 of Route To EN</label>
        <locationX>2426</locationX>
        <locationY>1190</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>Copy_1_of_CHECK_Route_To_PreviousAgent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N92p0000000EcSCAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>queueId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Route_To_NO</name>
        <label>Copy 1 of Route To NO</label>
        <locationX>1898</locationX>
        <locationY>1190</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>Copy_1_of_CHECK_Route_To_PreviousAgent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N92p0000000EcSCAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>queueId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Route_To_PreviousAgent</name>
        <label>Copy 1 of Route_To_PreviousAgent</label>
        <locationX>2690</locationX>
        <locationY>1190</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>Copy_1_of_CHECK_Route_To_PreviousAgent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N92p0000000EcSCAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>queueId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
            <value>
                <elementReference>varPreviousAgent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isAgentVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Route_To_SE</name>
        <label>Copy 1 of Route To SE</label>
        <locationX>1634</locationX>
        <locationY>1190</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>Copy_1_of_CHECK_Route_To_PreviousAgent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N92p0000000EcSCAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>queueId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Route_To_Default</name>
        <label>Route To Default</label>
        <locationX>1370</locationX>
        <locationY>1082</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>CHECK_Route_To_PreviousAgent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N92p0000000EcSCAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>queueId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Route_To_DK</name>
        <label>Route To DK</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>CHECK_Route_To_PreviousAgent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N92p0000000EcSCAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>queueId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Route_To_EN</name>
        <label>Route To EN</label>
        <locationX>842</locationX>
        <locationY>1082</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>CHECK_Route_To_PreviousAgent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N92p0000000EcSCAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>queueId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Route_To_NO</name>
        <label>Route To NO</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>CHECK_Route_To_PreviousAgent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N92p0000000EcSCAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>queueId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Route_To_PreviousAgent</name>
        <label>Route_To_PreviousAgent</label>
        <locationX>1106</locationX>
        <locationY>1082</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>CHECK_Route_To_PreviousAgent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N92p0000000EcSCAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>queueId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
            <value>
                <elementReference>varPreviousAgent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isAgentVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Route_To_SE</name>
        <label>Route To SE</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>CHECK_Route_To_PreviousAgent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N92p0000000EcSCAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>queueId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>AGENT_AVAILBLE</name>
        <label>AGENT_AVAILBLE</label>
        <locationX>578</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>varDirectly_Routed_To_Agent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UPDATE_MessagingSession_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Consent_Boolean_False</name>
        <label>ASSIGN_Consent_Boolean_False</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Consent_Boolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Message_With_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Consent_Boolean_True</name>
        <label>ASSIGN_Consent_Boolean_True</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Consent_Boolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TRUE_CHECK_Consent_String</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Message_With_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Directly_Routed_To_Agent</name>
        <label>ASSIGN_Directly_Routed_To_Agent</label>
        <locationX>842</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>varDirectly_Routed_To_Agent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UPDATE_MessagingSession_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_NEWVALUE_varLastChainConversation</name>
        <label>ASSIGN_NEWVALUE_varLastChainConversation</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varLastChainInConversation</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CHECK_Consent_String</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_AGENT_AVAILBLE</name>
        <label>Copy 1 of AGENT_AVAILBLE</label>
        <locationX>2162</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>varDirectly_Routed_To_Agent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_UPDATE_MessagingSession_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_ASSIGN_Directly_Routed_To_Agent</name>
        <label>Copy 1 of ASSIGN_Directly_Routed_To_Agent</label>
        <locationX>2426</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>varDirectly_Routed_To_Agent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_UPDATE_MessagingSession_Queue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CHECK_Consent_String</name>
        <label>CHECK_Consent_String</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>ASSIGN_Consent_Boolean_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_CHECK_Consent_String</defaultConnectorLabel>
        <rules>
            <name>TRUE_CHECK_Consent_String</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Consent_String</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>True</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_Consent_Boolean_True</targetReference>
            </connector>
            <label>TRUE_CHECK_Consent_String</label>
        </rules>
    </decisions>
    <decisions>
        <name>CHECK_Language_varPreviousAgent</name>
        <label>CHECK_Language_varPreviousAgent</label>
        <locationX>710</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>GET_QUEUE_FALLBACK</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default_ROUTE_EN</defaultConnectorLabel>
        <rules>
            <name>SE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Language</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>sv</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPreviousAgent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_QUEUE_SE</targetReference>
            </connector>
            <label>SE</label>
        </rules>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Language</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>no</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPreviousAgent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_QUEUE_NO</targetReference>
            </connector>
            <label>NO</label>
        </rules>
        <rules>
            <name>DA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Language</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>da</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPreviousAgent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_QUEUE_DK</targetReference>
            </connector>
            <label>DA</label>
        </rules>
        <rules>
            <name>EN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Language</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>en</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPreviousAgent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_QUEUE_EN</targetReference>
            </connector>
            <label>EN</label>
        </rules>
        <rules>
            <name>TRUE_CHECK_Language_varPreviousAgent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPreviousAgent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Group_PreviousQueue</targetReference>
            </connector>
            <label>TRUE_CHECK_Language_varPreviousAgent</label>
        </rules>
    </decisions>
    <decisions>
        <name>CHECK_Route_To_PreviousAgent</name>
        <label>CHECK_Route_To_PreviousAgent</label>
        <locationX>710</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>ASSIGN_Directly_Routed_To_Agent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_CHECK_Route_To_PreviousAgent</defaultConnectorLabel>
        <rules>
            <name>TRUE_CHECK_Route_To_PreviousAgent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Route_To_PreviousAgent</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AGENT_AVAILBLE</targetReference>
            </connector>
            <label>TRUE_CHECK_Route_To_PreviousAgent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_CHECK_Language_varPreviousAgent</name>
        <label>Copy 1 of CHECK_Language_varPreviousAgent</label>
        <locationX>2294</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_GET_QUEUE_FALLBACK</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default_ROUTE_EN</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_SE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Language</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>sv</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPreviousAgent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_GET_QUEUE_SE</targetReference>
            </connector>
            <label>Copy 1 of SE</label>
        </rules>
        <rules>
            <name>Copy_1_of_NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Language</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>no</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPreviousAgent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_GET_QUEUE_NO</targetReference>
            </connector>
            <label>Copy 1 of NO</label>
        </rules>
        <rules>
            <name>Copy_1_of_DA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Language</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>da</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPreviousAgent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_GET_QUEUE_DK</targetReference>
            </connector>
            <label>Copy 1 of DA</label>
        </rules>
        <rules>
            <name>Copy_1_of_EN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Language</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>en</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPreviousAgent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_GET_QUEUE_EN</targetReference>
            </connector>
            <label>Copy 1 of EN</label>
        </rules>
        <rules>
            <name>Copy_1_of_TRUE_CHECK_Language_varPreviousAgent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPreviousAgent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_GET_Group_PreviousQueue</targetReference>
            </connector>
            <label>Copy 1 of TRUE_CHECK_Language_varPreviousAgent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_CHECK_Route_To_PreviousAgent</name>
        <label>Copy 1 of CHECK_Route_To_PreviousAgent</label>
        <locationX>2294</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_ASSIGN_Directly_Routed_To_Agent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_CHECK_Route_To_PreviousAgent</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_TRUE_CHECK_Route_To_PreviousAgent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Route_To_PreviousAgent</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_AGENT_AVAILBLE</targetReference>
            </connector>
            <label>Copy 1 of TRUE_CHECK_Route_To_PreviousAgent</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>MessagingSession_OMNI_Routing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MessagingSession_OMNI_Routing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordLookups>
        <name>Copy_1_of_GET_Group_PreviousQueue</name>
        <label>Copy 1 of GET_Group_PreviousQueue</label>
        <locationX>2690</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Route_To_PreviousAgent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>queueName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>queueName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>queueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_GET_QUEUE_DK</name>
        <label>Copy 1 of GET QUEUE DK</label>
        <locationX>2162</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Route_To_DK</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DirectSalesDK</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>queueName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>queueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_GET_QUEUE_EN</name>
        <label>Copy 1 of GET QUEUE EN</label>
        <locationX>2426</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Route_To_EN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DirectSalesEN</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>queueName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>queueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_GET_QUEUE_FALLBACK</name>
        <label>Copy 1 of GET QUEUE FALLBACK</label>
        <locationX>2954</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Route_To_Default</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DirectSalesEN</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>queueName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>queueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_GET_QUEUE_NO</name>
        <label>Copy 1 of GET QUEUE NO</label>
        <locationX>1898</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Route_To_NO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DirectSalesNO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>queueName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>queueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_GET_QUEUE_SE</name>
        <label>Copy 1 of GET QUEUE SE</label>
        <locationX>1634</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Route_To_SE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DirectSalesSE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>queueName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>queueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GET_Group_PreviousQueue</name>
        <label>GET_Group_PreviousQueue</label>
        <locationX>1106</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Route_To_PreviousAgent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>queueName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>queueName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>queueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GET_MessageSession_Current</name>
        <label>GET_MessageSession_Current</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_MessagingSession_Previous</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_MessagingSession_Previous</name>
        <label>GET_MessagingSession_Previous</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASSIGN_NEWVALUE_varLastChainConversation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MessagingEndUserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_MessageSession_Current.MessagingEndUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>GET_MessageSession_Current.CreatedDate</elementReference>
            </value>
        </filters>
        <object>MessagingSession</object>
        <outputAssignments>
            <assignToReference>varLastChainInConversation</assignToReference>
            <field>Chain_In_Conversation__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Consent_String</assignToReference>
            <field>Consent_String__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EBnumber</assignToReference>
            <field>EBNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Issue_Summary</assignToReference>
            <field>Issue_Summary__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Language</assignToReference>
            <field>Language__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPreviousAgent</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PNR</assignToReference>
            <field>PNR__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>queueName</assignToReference>
            <field>Queue__c</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GET_QUEUE_DK</name>
        <label>GET QUEUE DK</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Route_To_DK</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DirectSalesDK</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>queueName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>queueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GET_QUEUE_EN</name>
        <label>GET QUEUE EN</label>
        <locationX>842</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Route_To_EN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DirectSalesEN</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>queueName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>queueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GET_QUEUE_FALLBACK</name>
        <label>GET QUEUE FALLBACK</label>
        <locationX>1370</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Route_To_Default</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DirectSalesEN</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>queueName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>queueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GET_QUEUE_NO</name>
        <label>GET QUEUE NO</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Route_To_NO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DirectSalesNO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>queueName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>queueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GET_QUEUE_SE</name>
        <label>GET QUEUE SE</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Route_To_SE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DirectSalesSE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>queueName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>queueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Message_With_Value</name>
        <label>Copy 1 of Update Message With Value</label>
        <locationX>2294</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Copy_1_of_CHECK_Language_varPreviousAgent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Chain_In_Conversation__c</field>
            <value>
                <elementReference>varLastChainInConversation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consent_String__c</field>
            <value>
                <elementReference>Consent_String</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDPR_Consent__c</field>
            <value>
                <elementReference>Consent_Boolean</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Summary__c</field>
            <value>
                <elementReference>Issue_Summary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Language__c</field>
            <value>
                <elementReference>Language</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Netomi_Conv_ID__c</field>
            <value>
                <elementReference>Netomi_Conv_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Queue__c</field>
            <value>
                <elementReference>queueName</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_UPDATE_MessagingSession_Queue</name>
        <label>Copy 1 of UPDATE_MessagingSession_Queue</label>
        <locationX>2294</locationX>
        <locationY>1682</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Directly_Routed_To_Agent__c</field>
            <value>
                <elementReference>varDirectly_Routed_To_Agent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Queue__c</field>
            <value>
                <elementReference>queueName</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Message_With_Value</name>
        <label>Update Message With Value</label>
        <locationX>710</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>CHECK_Language_varPreviousAgent</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Update_Message_With_Value</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Chain_In_Conversation__c</field>
            <value>
                <elementReference>varLastChainInConversation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consent_String__c</field>
            <value>
                <elementReference>Consent_String</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBNumber__c</field>
            <value>
                <elementReference>EBnumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDPR_Consent__c</field>
            <value>
                <elementReference>Consent_Boolean</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Summary__c</field>
            <value>
                <elementReference>Issue_Summary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Language__c</field>
            <value>
                <elementReference>Language</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Netomi_Conv_ID__c</field>
            <value>
                <elementReference>Netomi_Conv_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PNR__c</field>
            <value>
                <elementReference>PNR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Queue__c</field>
            <value>
                <elementReference>queueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Email__c</field>
            <value>
                <elementReference>Survey_Email</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_MessagingSession_Queue</name>
        <label>UPDATE_MessagingSession_Queue</label>
        <locationX>710</locationX>
        <locationY>1574</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Directly_Routed_To_Agent__c</field>
            <value>
                <elementReference>varDirectly_Routed_To_Agent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Queue__c</field>
            <value>
                <elementReference>queueName</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_MessageSession_Current</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Consent_Boolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Consent_String</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EBnumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Issue_Summary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Language</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Netomi_Conv_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PNR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>queueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>queueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Summary_of_the_issue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Survey_Accepted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Survey_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDirectly_Routed_To_Agent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLastChainInConversation</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varPreviousAgent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWaitTime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
