sas-core/main/default/flows/MessagingSession_TRG_AfterCreate_CreateCase.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>SET_GDPRCONSENT_FALSE</name>
        <label>SET_GDPRCONSENT_FALSE</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>gdprConsent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_Case_RecordTypeId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SET_GDPRCONSENT_TRUE</name>
        <label>SET_GDPRCONSENT_TRUE</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>gdprConsent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_Case_RecordTypeId</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CHECK_GDPR_CONSENT</name>
        <label>CHECK_GDPR_CONSENT</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>SET_GDPRCONSENT_FALSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_CHECK_GDPR_CONSENT</defaultConnectorLabel>
        <rules>
            <name>TRUE_CHECK_GDPR_CONSENT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Consent_String__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SET_GDPRCONSENT_TRUE</targetReference>
            </connector>
            <label>TRUE_CHECK_GDPR_CONSENT</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>MessagingSession_TRG_After_Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MessagingSession_TRG_AfterCreate_CreateCase</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_2_of_CREATE_Case</name>
        <label>Copy 2 of CREATE_Case</label>
        <locationX>578</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Copy_2_of_UPDATE_RecordId</targetReference>
        </connector>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>SoMe Support</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Issue_Summary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FCS_Language__c</field>
            <value>
                <elementReference>$Record.Language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDPR_Consent__c</field>
            <value>
                <elementReference>gdprConsent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Messaging Session</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GET_Case_RecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team__c</field>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CREATE_Case</name>
        <label>CREATE_Case</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>UPDATE_RecordId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_2_of_CREATE_Case</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>SoMe Support</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Issue_Summary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FCS_EBNumber__c</field>
            <value>
                <elementReference>$Record.EBNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FCS_Language__c</field>
            <value>
                <elementReference>$Record.Language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FCS_PNR__c</field>
            <value>
                <elementReference>$Record.PNR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDPR_Consent__c</field>
            <value>
                <elementReference>gdprConsent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Messaging Session</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GET_Case_RecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team__c</field>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GET_Case_RecordTypeId</name>
        <label>GET_Case_RecordTypeId</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CREATE_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_2_of_UPDATE_RecordId</name>
        <label>Copy 2 of UPDATE_RecordId</label>
        <locationX>578</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>CREATE_Case</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_RecordId</name>
        <label>UPDATE_RecordId</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>CREATE_Case</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CHECK_GDPR_CONSENT</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>AcceptTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AcceptTime</field>
            <operator>NotEqualTo</operator>
        </filters>
        <object>MessagingSession</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>gdprConsent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
