sas-core/main/default/flows/Permission_Set_Assignment_SCR_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Chatter post showing which users have been granted access.</description>
        <name>ACT_Post_To_Chatter_Approved</name>
        <label>ACT_Post_To_Chatter_Approved</label>
        <locationX>50</locationX>
        <locationY>2006</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>ACT_Split_DML</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>PermissionSets_Approved_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>caseId_Permission_Access</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Chatter post when all users have been rejected access.</description>
        <name>ACT_Post_To_Chatter_Rejected</name>
        <label>ACT_Post_To_Chatter_Rejected</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>UPDATE_CASE_Reject</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>PermissionSets_Rejected_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>caseId_Permission_Access</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Action put in the flow to split Setup Object DML operations and Non-Setup Object DML operations. This action is necessary for the flow not to break.</description>
        <name>ACT_Split_DML</name>
        <label>ACT Split DML</label>
        <locationX>50</locationX>
        <locationY>2114</locationY>
        <actionName>c:MinimizeUtilityItem</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>UPDATE_Case_Approved</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:MinimizeUtilityItem</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>This Apex class is splitting the string in the {!PermissionSetIdsString} variable into a list to convert it to a collection variable that can then be displayed in the data table screen component for user input.</description>
        <name>APEX_Split_Permission_Set_IDs</name>
        <label>APEX_Split_Permission_Set_IDs</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <actionName>PermissionSetSplitter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GET_PermissionSets_In_List</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>coll_PermissionIds</name>
            <value>
                <elementReference>var_PermissionSetIdsString</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PermissionSetSplitter</nameSegment>
        <outputParameters>
            <assignToReference>coll_PermissionSetIDsSplit</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>Assigning the Ids from the selected rows in the data table to the PermissionAssignmentToCreate record variable and assigning the User from the GET_User query the (SelectedUserID) field to the PermissionAssignmentToCreate record variable AssigneeId Field.</description>
        <name>ASSIGN_Additional_Permission_Sets</name>
        <label>ASSIGN_Additional_Permission_Sets</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>var_Perm_Assign_To_Create.PermissionSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Additional_Selected_Permission_Sets.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Perm_Assign_To_Create.AssigneeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Selected_Affected_Users.Related_User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>STORE_Additional_PermissionSets_In_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigning the value of the PermissionSetCollectionID__c} field on the case record to the variable PermissionSetIdsString.</description>
        <name>ASSIGN_PermissionSet_Ids</name>
        <label>ASSIGN_PermissionSet_Ids</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>var_PermissionSetIdsString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Case.PermissionSetCollectionIDs_Long__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>APEX_Split_Permission_Set_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigning the Ids from the selected rows in the data table to the PermissionAssignmentToCreate record variable and assigning the User from the GET_User query the (SelectedUserID) field to the PermissionAssignmentToCreate record variable AssigneeId Field.</description>
        <name>ASSIGN_PermissionSets</name>
        <label>ASSIGN_Permission_Sets</label>
        <locationX>618</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>var_Perm_Assign_To_Create.PermissionSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Selected_Permission_Sets.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Perm_Assign_To_Create.AssigneeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_Selected_Affected_Users.Related_User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>STORE_PermissionSets_In_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Storing the record variables in a record collection.</description>
        <name>STORE_Additional_PermissionSets_In_Collection</name>
        <label>STORE_Additional_PermissionSets_In_Collection</label>
        <locationX>314</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>coll_Perm_Assign_To_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Perm_Assign_To_Create</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Additional_Selected_Permission_Sets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Storing the record variables in a record collection.</description>
        <name>STORE_PermissionSets_In_Collection</name>
        <label>STORE_PermissionSets_In_Collection</label>
        <locationX>618</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>coll_Perm_Assign_To_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Perm_Assign_To_Create</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Selected_Permission_Sets</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checking if the user has optionally selected to add additional permission sets.</description>
        <name>CHECK_Additional_Permission_Sets_or_Not</name>
        <label>CHECK Additional Permission Sets or Not</label>
        <locationX>378</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>LOOP_Selected_Permission_Sets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Check Not Additional</defaultConnectorLabel>
        <rules>
            <name>Check_Additional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Additional_Permission_Sets_Table.firstSelectedRow.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOOP_Additional_Selected_Permission_Sets</targetReference>
            </connector>
            <label>Check Additional</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking if a Permission Set has been selected from the data table in the previous screen.</description>
        <name>CHECK_If_Row_Selected</name>
        <label>CHECK_If_Row_Selected</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>S02_User_Access_Rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CHECK_Not_Approved</defaultConnectorLabel>
        <rules>
            <name>CHECK_Approved</name>
            <conditionLogic>(1 AND (2 OR 3))</conditionLogic>
            <conditions>
                <leftValueReference>Affected_Users_Table.firstSelectedRow.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Permission_Set_Table.firstSelectedRow.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Additional_Permission_Sets_Table.firstSelectedRow.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S02_User_Access_Approved</targetReference>
            </connector>
            <label>CHECK_Approved</label>
        </rules>
    </decisions>
    <description>Screen flow for assigning or rejecting permission sets to the selected user. removed extra variables, looking to add option to select additional permission sets.</description>
    <environments>Default</environments>
    <interviewLabel>FPS_Permission_Set_Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Permission_Set_Assignment_SCR_Case</label>
    <loops>
        <description>Looping through the selected permission sets in the User Access Confirmation Screen in the table for additional permissionsets.</description>
        <name>LOOP_Additional_Selected_Permission_Sets</name>
        <label>LOOP_Additional_Selected_Permission_Sets</label>
        <locationX>226</locationX>
        <locationY>1322</locationY>
        <collectionReference>Additional_Permission_Sets_Table.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASSIGN_Additional_Permission_Sets</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LOOP_Selected_Affected_Users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Looping through the selected affected users.</description>
        <name>LOOP_Selected_Affected_Users</name>
        <label>LOOP_Selected_Affected_Users</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <collectionReference>Affected_Users_Table.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CHECK_Additional_Permission_Sets_or_Not</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CREATE_Permission_Assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Looping through the selected permission sets in the User Access Confirmation Screen.</description>
        <name>LOOP_Selected_Permission_Sets</name>
        <label>LOOP_Selected_Permission_Sets</label>
        <locationX>530</locationX>
        <locationY>1322</locationY>
        <collectionReference>Permission_Set_Table.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASSIGN_PermissionSets</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LOOP_Selected_Affected_Users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creating the permission assignment records for the selected users.</description>
        <name>CREATE_Permission_Assignments</name>
        <label>CREATE_Permission_Set_Assignments</label>
        <locationX>50</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>ACT_Post_To_Chatter_Approved</targetReference>
        </connector>
        <inputReference>coll_Perm_Assign_To_Create</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get the User related to the Id stored in the SelectedUserID__c field on the case record.</description>
        <name>GET_Affected_Users</name>
        <label>GET_Affected_Users</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASSIGN_PermissionSet_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId_Permission_Access</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Affected_User__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all permission sets for use in a conditional data table.</description>
        <name>Get_All_PermissionSets</name>
        <label>Get_All_PermissionSets</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>S01_User_Access_Confirmation</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chat_Agent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Phone_Agent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Phone_Supervisor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Omni Supervisor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SAS Claim Firms Editor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SAS Customer Claims</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SAS Liability</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SAS Settlements</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Export Reports</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reports for Agents</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reports for Supervisors</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the case fields for the case running this flow.</description>
        <name>GET_Case</name>
        <label>GET_Case</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_Affected_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId_Permission_Access</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting the Permission Sets that has an Id captured in the PermissionSetIDsSplit variable.</description>
        <name>GET_PermissionSets_In_List</name>
        <label>GET_PermissionSets_In_List</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_PermissionSets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>coll_PermissionSetIDsSplit</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updating the case to closed.</description>
        <name>UPDATE_Case_Approved</name>
        <label>UPDATE_Case_Approved</label>
        <locationX>50</locationX>
        <locationY>2222</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId_Permission_Access</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updating the case to closed.</description>
        <name>UPDATE_CASE_Reject</name>
        <label>UPDATE_CASE_Reject</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId_Permission_Access</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <description>Screen for the running user to confirm the Permission Sets to assign to the selected user.</description>
        <name>S01_User_Access_Confirmation</name>
        <label>S01_User_Access_Confirmation</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CHECK_If_Row_Selected</targetReference>
        </connector>
        <fields>
            <name>UserAccess_Name</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Confirm Permission Sets to assign to users.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Affected_Users_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Affected_User__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Users</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GET_Affected_Users</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-5051&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Affected User&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Permission_Set_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>PermissionSet</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Permission Sets</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GET_PermissionSets_In_List</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Label&quot;,&quot;guid&quot;:&quot;column-185c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Label&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Permission Set Label&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-2571&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>More_Access_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Additional_Permission_Sets_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>PermissionSet</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Permission Sets</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_PermissionSets</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Label&quot;,&quot;guid&quot;:&quot;column-97c2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Label&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Permission Set Label&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-f22e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>More_Access_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>More_Access_Checkbox</name>
            <dataType>Boolean</dataType>
            <fieldText>I need to assign more permission sets than specified in the list.</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>If atleast one row was selected in the previous screen the running user gets this screen confirming the permission set assigned to the selected user.</description>
        <name>S02_User_Access_Approved</name>
        <label>S02_User_Access_Approved</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>LOOP_Selected_Affected_Users</targetReference>
        </connector>
        <fields>
            <name>UserApproved_Name</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Access has been approved for&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Selected_Users_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Affected_User__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Affected_Users_Table.selectedRows</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-c754&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Users&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Affected User&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Approved_Permission_Set_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>PermissionSet</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Permission Sets</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Permission_Set_Table.selectedRows</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Label&quot;,&quot;guid&quot;:&quot;column-185c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Label&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Permission Set Label&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-2571&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>More_Access_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Approved_Additional_Permission_Set_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>PermissionSet</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Permission Sets</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Additional_Permission_Sets_Table.selectedRows</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Label&quot;,&quot;guid&quot;:&quot;column-dbde&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Label&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Permission Set Label&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-6351&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>More_Access_Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>If no row was selected in the previous screen the user gets this screen confirming that they have rejected access to the selected user.</description>
        <name>S02_User_Access_Rejected</name>
        <label>S02_User_Access_Rejected</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ACT_Post_To_Chatter_Rejected</targetReference>
        </connector>
        <fields>
            <name>Rejected_UserAccess_Name</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Access rejected for&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Rejected_Affected_Users_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Affected_User__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Users</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GET_Affected_Users</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-7019&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Users&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Affected User&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Rejected_Permission_Set_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>PermissionSet</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GET_PermissionSets_In_List</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Label&quot;,&quot;guid&quot;:&quot;column-185c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Permission Set Label&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-2571&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>PermissionSets_Approved_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The permission request has been approved and permissions have been assigned.</text>
    </textTemplates>
    <textTemplates>
        <name>PermissionSets_Rejected_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Permission request has been rejected and no permissions has been assigned.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>id passed from the record starting the flow.</description>
        <name>caseId_Permission_Access</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>coll_Perm_Assign_To_Create</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>coll_PermissionSetIDsSplit</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Perm_Assign_To_Create</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>var_PermissionSetIdsString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>GET_Case.PermissionSetCollectionIDs_Long__c</elementReference>
        </value>
    </variables>
</Flow>
