sas-core/main/default/flows/Send_SMS_If_ShortLink_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Is_Case_Applicable_for_SMS</name>
        <label>Is Case Applicable for SMS</label>
        <locationX>858</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Voice_Call</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Messaging_Setting</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Messaging_Settings_Available</name>
        <label>Is Messaging Settings Available?</label>
        <locationX>611</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Messaging_Settings_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Messaging_Setting</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Messaging_Channel</targetReference>
            </connector>
            <label>Messaging Settings Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_MEU_Available</name>
        <label>is MEU Available?</label>
        <locationX>380</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Send_SMS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MEU Not Available</defaultConnectorLabel>
        <rules>
            <name>MEU_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MEU</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Last_N_Days_Messaging_Session</targetReference>
            </connector>
            <label>MEU Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sent_Survey_In_Last_N_Days</name>
        <label>Sent Survey In Last N Days?</label>
        <locationX>182</locationX>
        <locationY>1187</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Sent_In_Last_N_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Last_N_Days_Messaging_Session</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_SMS_If_not_sent_in_last_Nth_Days</targetReference>
            </connector>
            <label>Not Sent In Last N Days</label>
        </rules>
    </decisions>
    <description>Flow of Survey Invitation</description>
    <environments>Default</environments>
    <formulas>
        <name>LastNDays</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 7</expression>
    </formulas>
    <formulas>
        <name>RequestType</name>
        <dataType>String</dataType>
        <expression>&quot;CallEnd Survey&quot;</expression>
    </formulas>
    <interviewLabel>Send SMS If Survey Available {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send SMS If ShortLink Created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Last_N_Days_Messaging_Session</name>
        <label>Get Last N Days Messaging Session</label>
        <locationX>182</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sent_Survey_In_Last_N_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MessagingEndUserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_MEU.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>LastNDays</elementReference>
            </value>
        </filters>
        <filters>
            <field>SMS_Type__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>SurveyText</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Messaging_Channel</name>
        <label>Get Messaging Channel</label>
        <locationX>380</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MEU</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Messaging_Setting.Channel_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingChannel</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Messaging_Setting</name>
        <label>Get Messaging Setting</label>
        <locationX>611</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Messaging_Settings_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RequestType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Language__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Voice_Call.Caller_IVR_Language__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Markets__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Voice_Call.Caller_Market__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Messaging_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MEU</name>
        <label>Get MEU</label>
        <locationX>380</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_MEU_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Voice_Call.FromPhoneNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>MessageType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Text</stringValue>
            </value>
        </filters>
        <filters>
            <field>MessagingChannelId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Messaging_Channel.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Voice_Call</name>
        <label>Get Voice Call</label>
        <locationX>858</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Case_Applicable_for_SMS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FCS_RelatedCase__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VoiceCall</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>732</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Voice_Call</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Short_URL__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Short_URL__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SurveyInvitation</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_SMS</name>
        <label>Send SMS</label>
        <locationX>578</locationX>
        <locationY>1079</locationY>
        <flowName>Send_SMS</flowName>
        <inputAssignments>
            <name>ContextId</name>
            <value>
                <elementReference>$Record.FCS_RelatedCase__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Language</name>
            <value>
                <elementReference>Get_Voice_Call.Caller_IVR_Language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Market</name>
            <value>
                <elementReference>Get_Voice_Call.Caller_Market__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RequestType</name>
            <value>
                <elementReference>RequestType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ToPhoneNumber</name>
            <value>
                <elementReference>Get_Voice_Call.FromPhoneNumber</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_SMS_If_not_sent_in_last_Nth_Days</name>
        <label>Send SMS If not sent in last Nth Days</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <flowName>Send_SMS</flowName>
        <inputAssignments>
            <name>ContextId</name>
            <value>
                <elementReference>$Record.FCS_RelatedCase__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Language</name>
            <value>
                <elementReference>Get_Voice_Call.Caller_IVR_Language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Market</name>
            <value>
                <elementReference>Get_Voice_Call.Caller_Market__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RequestType</name>
            <value>
                <elementReference>RequestType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ToPhoneNumber</name>
            <value>
                <elementReference>Get_Voice_Call.FromPhoneNumber</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>SurveyText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Survey</stringValue>
        </value>
    </variables>
</Flow>
