sas-core/main/default/flows/Send_SMS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_SMS_With_Context</name>
        <label>Send SMS With Context</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <actionName>liveMessageNotification</actionName>
        <actionType>liveMessageNotification</actionType>
        <connector>
            <targetReference>Get_Latest_Messaging_Session</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>templateDeveloperName</name>
            <value>
                <elementReference>Get_Messaging_Setting.Message_Template__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelDeveloperName</name>
            <value>
                <elementReference>Get_Messaging_Channel.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>ContextId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientRecordId</name>
            <value>
                <elementReference>MessagingEndUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>triggeredOutboundTypeEnum</name>
            <value>
                <elementReference>Get_Messaging_Setting.Triggered_Outbound_Type__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>liveMessageNotification</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_SMS_Without_Context</name>
        <label>Send SMS Without Context</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <actionName>liveMessageNotification</actionName>
        <actionType>liveMessageNotification</actionType>
        <connector>
            <targetReference>Get_Latest_Messaging_Session</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>templateDeveloperName</name>
            <value>
                <elementReference>Get_Messaging_Setting.Message_Template__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelDeveloperName</name>
            <value>
                <elementReference>Get_Messaging_Channel.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientRecordId</name>
            <value>
                <elementReference>MessagingEndUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>triggeredOutboundTypeEnum</name>
            <value>
                <elementReference>Get_Messaging_Setting.Triggered_Outbound_Type__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>liveMessageNotification</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>Assign Message End User RecordId</description>
        <name>Assign_MEU_RecordId</name>
        <label>Assign MEU RecordId</label>
        <locationX>248</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>MessagingEndUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MessagingEndUser_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Blocklist_Number</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Context_Variable_Available</name>
        <label>Check If Context Variable Available</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Send_SMS_Without_Context</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ContextVar Not Available</defaultConnectorLabel>
        <rules>
            <name>ContextVar_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContextId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_SMS_With_Context</targetReference>
            </connector>
            <label>ContextVar Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Existing_Messaging_End_User_Available</name>
        <label>is Existing Messaging End User Available?</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Create_MessagingEndUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Available</defaultConnectorLabel>
        <rules>
            <name>Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MessagingEndUser_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MEU_RecordId</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Latest_Messaging_Session_Available</name>
        <label>Is Latest Messaging Session Available?</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Messaging_Session_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_Messaging_Session</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Latest_Messaging_Session</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Messaging_Setting_Available</name>
        <label>Is MessagingSetting Available?</label>
        <locationX>611</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Messaging Setting Not Found</defaultConnectorLabel>
        <rules>
            <name>Messaging_Setting_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Messaging_Setting</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Messaging_Channel</targetReference>
            </connector>
            <label>Messaging Setting Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Number_Blocklist</name>
        <label>is Number Blocklist?</label>
        <locationX>380</locationX>
        <locationY>974</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_In_Blocklist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Blocklist_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Context_Variable_Available</targetReference>
            </connector>
            <label>Not In Blocklist</label>
        </rules>
    </decisions>
    <description>Send SMS with Blocklist</description>
    <environments>Default</environments>
    <formulas>
        <name>LastNDays</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 7</expression>
    </formulas>
    <interviewLabel>Send SMS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send SMS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_MessagingEndUser</name>
        <label>Create MessagingEndUser</label>
        <locationX>512</locationX>
        <locationY>674</locationY>
        <assignRecordIdToReference>MessagingEndUserId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Blocklist_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>IsoCountryCode</field>
            <value>
                <elementReference>Get_Messaging_Setting.MarketCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageType</field>
            <value>
                <stringValue>Text</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingChannelId</field>
            <value>
                <elementReference>Get_Messaging_Channel.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingConsentStatus</field>
            <value>
                <stringValue>ImplicitlyOptedIn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingPlatformKey</field>
            <value>
                <elementReference>ToPhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ToPhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingEndUser</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Blocklist_Number</name>
        <label>Get Blocklist Number</label>
        <locationX>380</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_Number_Blocklist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Messaging_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_MessagingEndUser_Details.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Blocklist__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Messaging_Session</name>
        <label>Get Latest Messaging Session</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Latest_Messaging_Session_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ChannelType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Text</stringValue>
            </value>
        </filters>
        <filters>
            <field>MessagingChannelId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Messaging_Channel.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MessagingEndUserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_MessagingEndUser_Details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Messaging_Channel</name>
        <label>Get Messaging Channel</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MessagingEndUser_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Messaging_Setting.Channel_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingChannel</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Messaging_Setting</name>
        <label>Get Messaging Setting</label>
        <locationX>611</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Messaging_Setting_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RequestType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Language__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Language</elementReference>
            </value>
        </filters>
        <filters>
            <field>Markets__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Market</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Messaging_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MessagingEndUser_Details</name>
        <label>Get Existing MessagingEndUser</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_Existing_Messaging_End_User_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ToPhoneNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>MessageType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Text</stringValue>
            </value>
        </filters>
        <filters>
            <field>MessagingChannelId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Messaging_Channel.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Latest_Messaging_Session</name>
        <label>Update Messaging Session</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Latest_Messaging_Session.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SMS_Type__c</field>
            <value>
                <elementReference>RequestType</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Messaging_Setting</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContextId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Language</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Market</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MessagingEndUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RequestType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ToPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
