sas-core/main/default/flows/SURVEY_INVITATION_Process_Builder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_CSI_Claim_Surveys</name>
        <label>Send CSI Claim Surveys</label>
        <locationX>1106</locationX>
        <locationY>1008</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Sender_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.FCS_RelatedCase__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Recipient_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_CSI_Corporate_Support_Scandinavia</name>
        <label>Send CSI Corporate Support Scandinavia</label>
        <locationX>50</locationX>
        <locationY>1008</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Sender_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.FCS_RelatedCase__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Recipient_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Template_for_Corporate_Support_Scandianvia.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_CSI_Group_Sales_Scandinavia_Survey</name>
        <label>Send CSI Group Sales Scandinavia Survey</label>
        <locationX>842</locationX>
        <locationY>1008</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Sender_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.FCS_RelatedCase__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Recipient_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template_for_Group_Sales_Scandinavia.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Euro_Bonus_Survey</name>
        <label>Send Euro Bonus Survey</label>
        <locationX>314</locationX>
        <locationY>1008</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Sender_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.FCS_RelatedCase__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Recipient_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Template_for_Euro_Bonus_Survey.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Group_Sales_Surveys</name>
        <label>Send Group Sales Surveys</label>
        <locationX>578</locationX>
        <locationY>1008</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Sender_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.FCS_RelatedCase__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Recipient_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Template_for_Group_Sales.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Recipient_ID</name>
        <label>Assign Recipient ID</label>
        <locationX>1040</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>Recipient_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FCS_RelatedCase__r.Account.PersonContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Recipient_Email_Is_Not_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RecipientID</name>
        <label>Assign RecipientID</label>
        <locationX>1304</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>Recipient_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FCS_RelatedCase__r.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Recipient_Email_Is_Not_Null</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Account_has_Value</name>
        <label>Check If Account has Value</label>
        <locationX>1172</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Assign_RecipientID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FCS_RelatedCase__r.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FCS_RelatedCase__r.Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Recipient_ID</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Recipient_Email_Is_Not_Null</name>
        <label>Check If Recipient Email Is Not Null</label>
        <locationX>1172</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recipient_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ORG_Wide_Address</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Template</name>
        <label>Email Template</label>
        <locationX>710</locationX>
        <locationY>792</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Corporate_Support_Scandinavia_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Survey.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSI Corporate Support Scandinavia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Template_for_Corporate_Support_Scandianvia</targetReference>
            </connector>
            <label>Send Corporate Support Scandinavia Survey</label>
        </rules>
        <rules>
            <name>Send_EuroBonus_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Survey.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSI EuroBonus</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Template_for_Euro_Bonus_Survey</targetReference>
            </connector>
            <label>Send EuroBonus Survey</label>
        </rules>
        <rules>
            <name>Send_Group_Sales_Survey</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Survey.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSI Group Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Template_for_Group_Sales</targetReference>
            </connector>
            <label>Send Group Sales Survey</label>
        </rules>
        <rules>
            <name>Send_Group_Sales_Scandinavia_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Survey.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSI Group Sales Scandinavia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_for_Group_Sales_Scandinavia</targetReference>
            </connector>
            <label>Send Group Sales Scandinavia Survey</label>
        </rules>
        <rules>
            <name>Send_CSI_Claim_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Survey.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSI Claim Survey</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template</targetReference>
            </connector>
            <label>Send CSI Claim Survey</label>
        </rules>
    </decisions>
    <description>Contains the logic for sending the correct email template based on the survey as well as the time for emailing the survey link</description>
    <environments>Default</environments>
    <interviewLabel>SURVEY INVITATION {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SURVEY INVITATION Process Builder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Email_Template</name>
        <label>Get Email Template</label>
        <locationX>1106</locationX>
        <locationY>900</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_CSI_Claim_Surveys</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CSI Claims Survey Link</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_for_Group_Sales_Scandinavia</name>
        <label>Get Email Template for Group Sales Scandinavia</label>
        <locationX>842</locationX>
        <locationY>900</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_CSI_Group_Sales_Scandinavia_Survey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Group Sales Scandinavia Survey Invitation Link</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ORG_Wide_Address</name>
        <label>Get ORG Wide Address</label>
        <locationX>710</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DisplayName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Service No Reply</stringValue>
            </value>
        </filters>
        <object>OrgWideEmailAddress</object>
        <outputAssignments>
            <assignToReference>Sender_Email</assignToReference>
            <field>Address</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Template_for_Corporate_Support_Scandianvia</name>
        <label>Get Template for Corporate Support Scandianvia</label>
        <locationX>50</locationX>
        <locationY>900</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_CSI_Corporate_Support_Scandinavia</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Corporate Support Scandinavia Survey Invitation Link</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Template_for_Euro_Bonus_Survey</name>
        <label>Get Template for Euro Bonus Survey</label>
        <locationX>314</locationX>
        <locationY>900</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Euro_Bonus_Survey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EuroBonus Survey Invitation Link</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Template_for_Group_Sales</name>
        <label>Get Template for Group Sales</label>
        <locationX>578</locationX>
        <locationY>900</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Group_Sales_Surveys</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Group Sales Survey Invitation Link</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>353</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ChatSurvey__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FCS_RelatedCase__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SurveyInvitation</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Wait_1_hour_to_send_Email_Survey_Link</name>
            <connector>
                <targetReference>Check_If_Account_has_Value</targetReference>
            </connector>
            <label>Wait 1 hour to send Email Survey Link</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Recipient_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Sender_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
