sas-core/main/default/flows/UTIL_Count_Number_of_Settlements_for_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Approval_level</name>
        <label>Assign Approval level</label>
        <locationX>270</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>approvalLevelList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Check_for_approval_level.Approval_Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_for_approval_level.Claim__r.Case__r.RecordType.DeveloperName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_approval_level</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Queue1</name>
        <label>Assign Queue</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>QueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmergencyApprover</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Number_of_Settlements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignQueue</name>
        <label>Assign Queue</label>
        <locationX>50</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>QueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approval_levels_2_3</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Number_of_Settlements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_Number_of_Settlements</name>
        <label>Calculate Number of Settlements</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>numberOfSettlementsInStatus</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Settlements_for_this_Claim</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Approval_level</name>
        <label>Check Approval level</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>Assign_Queue1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Level_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>approvalLevelList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Level 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignQueue</targetReference>
            </connector>
            <label>Level 2</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EmergencyApprover</name>
        <dataType>String</dataType>
        <expression>IF ({!Case_Type} == &apos;Emergency&apos;, &apos;Approvers_Emergency&apos;, &apos;Approval_level_1&apos;)</expression>
    </formulas>
    <interviewLabel>UTIL Count Number of Settlements for Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UTIL Count Number of Settlements for Status</label>
    <loops>
        <name>Check_for_approval_level</name>
        <label>Check for approval level</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_Settlements_for_this_Claim</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Approval_level</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Approval_level</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Settlements_for_this_Claim</name>
        <label>Get Settlements for this Claim</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_approval_level</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Claim__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>claimId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Settlement_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>statusToCheck</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Settlement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Settlements_for_this_Claim</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>approvalLevelList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>claimId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>numberOfSettlementsInStatus</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>QueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>statusToCheck</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
