sas-core/main/default/flows/VOICECALL_Outbound.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Account_Id</name>
        <label>Get Account Id</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>GetAccountIdByPhoneNumber</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Case_RecordType</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>phoneNumbers</name>
            <value>
                <elementReference>Get_VoiceCall1.ToPhoneNumber</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>accountId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Popup_Account_Case_Tabs</name>
        <label>Popup Account Case Tabs</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>CallRouting</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>
                    [{&quot;id&quot;:&quot;812698e7&quot;,&quot;targetObjectId&quot;:&quot;{!Get_VoiceCall.Account__c}&quot;,&quot;isFocused&quot;:false},{&quot;id&quot;:&quot;99bba4a6&quot;,&quot;targetObjectId&quot;:&quot;{!Get_VoiceCall.Case__c}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>screenPopups</assignToReference>
            <name>routingInteractionInfoList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Popup_Case_Tab</name>
        <label>Popup Case Tab</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>CallRouting</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>
                    [{&quot;id&quot;:&quot;99bba4a6&quot;,&quot;targetObjectId&quot;:&quot;{!Get_VoiceCall.Case__c}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>screenPopups</assignToReference>
            <name>routingInteractionInfoList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Route_to_Agent</name>
        <label>Route to Agent</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>screenPopups</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N97T000000k9bhSAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>queueId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
            <value>
                <elementReference>Get_VoiceCall.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isAgentRequired</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isAgentVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Route_to_Queue</name>
        <label>Route to Queue</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>screenPopups</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N97T000000k9bhSAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>queueId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isAgentRequired</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isAgentVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_fallback_queue</name>
        <label>Assign fallback queue</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>queueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Voice_FALLBACK_EN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CallRouting</name>
        <label>Type of Voice Call</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Route_to_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Route to Queue</defaultConnectorLabel>
        <rules>
            <name>ToAgent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_VoiceCall1.CallType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outbound</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Route_to_Agent</targetReference>
            </connector>
            <label>Route to Agent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_Found</name>
        <label>Is Account Found</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Popup_Case_Tab</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Account Found</defaultConnectorLabel>
        <rules>
            <name>Account_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_VoiceCall.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Popup_Account_Case_Tabs</targetReference>
            </connector>
            <label>Account Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Voice_Call</name>
        <label>Type of Voice Call</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Previous_Call</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Callback</defaultConnectorLabel>
        <rules>
            <name>Outbound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_VoiceCall1.CallType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outbound</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Id</targetReference>
            </connector>
            <label>Outbound</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>caseSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Outbound call to &quot; + {!Get_VoiceCall1.ToPhoneNumber}</expression>
    </formulas>
    <interviewLabel>VOICECALL Outbound {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VOICECALL Outbound</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>relatedCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_fallback_queue</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>Telephony</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Case_RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>caseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team__c</field>
            <value>
                <stringValue>Frontline</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_RecordType</name>
        <label>Get Case RecordType</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_Call</name>
        <label>Get Previous Call</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_VoiceCall1.PreviousCallId</elementReference>
            </value>
        </filters>
        <object>VoiceCall</object>
        <outputAssignments>
            <assignToReference>accountId</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ivrLanguage</assignToReference>
            <field>Caller_IVR_Language__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ivrSelection</assignToReference>
            <field>Caller_IVR_Selection__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>relatedCaseId</assignToReference>
            <field>Case__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>queueName</assignToReference>
            <field>QueueName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recipientCountry</assignToReference>
            <field>Recipient_Country__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_VoiceCall</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>queueName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>queueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_VoiceCall</name>
        <label>Get VoiceCall</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Account_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VoiceCall</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_VoiceCall1</name>
        <label>Get VoiceCall</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_of_Voice_Call</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VoiceCall</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_VoiceCall</name>
        <label>Update VoiceCall</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Get_VoiceCall</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Caller_IVR_Language__c</field>
            <value>
                <elementReference>ivrLanguage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Caller_IVR_Selection__c</field>
            <value>
                <elementReference>ivrSelection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>relatedCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recipient_Country__c</field>
            <value>
                <elementReference>recipientCountry</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_VoiceCall1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ivrLanguage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ivrSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>queueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>queueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>screenPopups</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PendingServiceRoutingInteractionInfo</objectType>
    </variables>
</Flow>