sas-core/main/default/flows/VoiceCall_TRG_AfterUpdate_SurveyCreation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Survey_Probability</name>
        <label>Get Survey Probability</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <actionName>SurveyProbabilityServices</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Randomizer_Passed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>percentages</name>
            <value>
                <elementReference>Get_Survey_Randomizer_Setting.Percent__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SurveyProbabilityServices</nameSegment>
        <outputParameters>
            <assignToReference>ProbabilityFlag</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Is_Randomizer_Passed</name>
        <label>Is Randomizer Passed?</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProbabilityFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Voice_Call</targetReference>
            </connector>
            <label>Passed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Market_Allowed</name>
        <label>Market Allowed?</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Allowed_Market_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Survey_Randomizer_Setting</targetReference>
            </connector>
            <label>Market Available</label>
        </rules>
    </decisions>
    <description>VoiceCall Survey Creation</description>
    <environments>Default</environments>
    <formulas>
        <name>FirstThreeLetterOfMobile</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.FromPhoneNumber}, 4)</expression>
    </formulas>
    <interviewLabel>ACCOUNT_TRG_BeforeUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VoiceCall_TRG_AfterUpdate_SurveyCreation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Allowed_Market_Details</name>
        <label>Get Allowed Market Details</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Market_Allowed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone_Start_With__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FirstThreeLetterOfMobile</elementReference>
            </value>
        </filters>
        <filters>
            <field>Language__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Caller_IVR_Language__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Messaging_Allowed_Market__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Case</name>
        <label>Get Related Case</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Survey_Invitation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Survey_Randomizer_Setting</name>
        <label>Get Survey Randomizer Setting</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Survey_Probability</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Number_Start_With__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FirstThreeLetterOfMobile</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SMS_Survey_Randomizer_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Voice_Call</name>
        <label>Update Voice Call</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Get_Related_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>is_Survey_Available__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Allowed_Market_Details</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND NOT(5 OR 6 OR 7) AND 8</filterLogic>
        <filters>
            <field>Caller_IVR_Selection__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>CORPB2C</stringValue>
            </value>
        </filters>
        <filters>
            <field>CallEndDateTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CallEndDateTime</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Call_Speak_Time__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>QueueName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>ERO</stringValue>
            </value>
        </filters>
        <filters>
            <field>QueueName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Emergency</stringValue>
            </value>
        </filters>
        <filters>
            <field>QueueName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>CORP</stringValue>
            </value>
        </filters>
        <filters>
            <field>CallType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </filters>
        <object>VoiceCall</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Survey_Invitation</name>
        <label>Create Survey Invitation</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <flowName>CASE_Generate_Voice_Survey_Invitation</flowName>
        <inputAssignments>
            <name>caseRecord</name>
            <value>
                <elementReference>Get_Related_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Survey_Randomizer_Setting_Data</name>
            <value>
                <elementReference>Get_Survey_Randomizer_Setting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>voiceRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ProbabilityFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
