sas-core/main/default/flows/VOICECALL_Routing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Popup_Account_Case_Tabs</name>
        <label>Popup Account Case Tabs</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>Route_to_Queue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;812698e7&quot;,&quot;targetObjectId&quot;:&quot;{!Get_VoiceCall.Account__c}&quot;,&quot;isFocused&quot;:false},{&quot;id&quot;:&quot;99bba4a6&quot;,&quot;targetObjectId&quot;:&quot;{!Get_VoiceCall.Case__c}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>screenPopups</assignToReference>
            <name>routingInteractionInfoList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Popup_Case_Tab</name>
        <label>Popup Case Tab</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>Route_to_Queue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;99bba4a6&quot;,&quot;targetObjectId&quot;:&quot;{!Get_VoiceCall.Case__c}&quot;,&quot;isFocused&quot;:true}]</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>screenPopups</assignToReference>
            <name>routingInteractionInfoList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Route_to_Queue</name>
        <label>Route to Queue</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>screenPopups</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>queueId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N97T000000k9bhSAA</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Is_Account_Found</name>
        <label>Is Account Found</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Popup_Case_Tab</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Account Found</defaultConnectorLabel>
        <rules>
            <name>Account_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_VoiceCall.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Popup_Account_Case_Tabs</targetReference>
            </connector>
            <label>Account Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>caseRecordType</name>
        <dataType>String</dataType>
        <expression>IF(RIGHT({!menuSelection}, 3) = &quot;ERO&quot;, &quot;Emergency&quot;, &quot;Call&quot;)</expression>
    </formulas>
    <formulas>
        <name>caseSubject</name>
        <dataType>String</dataType>
        <expression>{!country} + &quot; &quot; + {!language} + &quot; &quot; + {!ivrSelectionText}</expression>
    </formulas>
    <formulas>
        <name>eurobonusCleaned</name>
        <dataType>String</dataType>
        <expression>IF({!euroBonusNumber} = &quot;Timeout&quot;, &quot;&quot;,  {!euroBonusNumber})</expression>
    </formulas>
    <formulas>
        <name>ivrSelectionText</name>
        <dataType>String</dataType>
        <expression>CASE({!menuSelection}, 
&quot;AGT&quot;, &quot;Agent Helpdesk&quot;, 
&quot;AMEX&quot;,&quot;AMEX&quot;,
&quot;DS-CB&quot;, &quot;Change Booking&quot;,
&quot;DS-NB&quot;, &quot;New Booking&quot;,
&quot;CORP&quot;, &quot;Travel Pass / Corporate Support&quot;,
&quot;CORPB2C&quot;, &quot;Corporate Support B2C&quot;,
&quot;DS&quot;, &quot;Direct Sales&quot;,
&quot;DIRECTGRP&quot;, &quot;Direct Group Sales&quot;,
&quot;EB&quot;, &quot;Eurobonus&quot;,
&quot;GRPBULK&quot;, &quot;Group Sales Bulk&quot;,
&quot;GRP&quot;, &quot;Group Sales&quot;,
&quot;PREMIUMAH&quot;, &quot;Premium After Hours&quot;,
&quot;AGTAH&quot;, &quot;Agent Helpdesk After Hours&quot;,
&quot;PANDION&quot;, &quot;Pandion&quot;,
&quot;PREMIUM&quot;, &quot;Premium&quot;,
&quot;NDIND&quot;, &quot;Norwegian Defense Individual&quot;,
&quot;NDGRP&quot;, &quot;Norwegian Defense Group Sales&quot;,
&quot;NDCORP&quot;, &quot;Norwegian Defense Corporate&quot;,
&quot;NDFLO&quot;, &quot;Norwegian Defense Flo Trans&quot;,
&quot;NDFLOAH&quot;, &quot;Norwegian Defense Flo Trans After Hours&quot;,
&quot;BAG&quot;, &quot;Baggage Service&quot;,
&quot;ERO&quot;, &quot;Emergency Response&quot;,
&quot;POSTERO&quot;, &quot;Post Emergency Response&quot;,
&quot;SSALES&quot;, &quot;Special Sales&quot;,
&quot;PMCORPSUP&quot;, &quot;Premium Corporate Support&quot;,
&quot;HQSUP-SALES&quot;,&quot;Sales Support&quot;,
&quot;REFSUP&quot;,&quot;Refund Support&quot;,
&quot;HQSUP-STAR&quot;,&quot;STAR Alliance&quot;,
 &quot;HQSUP-TICKETLESS&quot;,&quot;Ticketless&quot;,
&quot;GOLD&quot;, &quot;Gold&quot;,
&quot;DIAMOND&quot;, &quot;Diamond&quot;,
&quot;No Selection&quot;)</expression>
    </formulas>
    <formulas>
        <name>queueName</name>
        <dataType>String</dataType>
        <expression>&quot;Voice_&quot; +      
IF(FIND(&quot;-&quot;, {!menuSelection}) &gt; 0, LEFT({!menuSelection}, FIND(&quot;-&quot;, {!menuSelection})-1), {!menuSelection}) + 
&quot;_&quot; + {!language} + &quot;_&quot; + {!region}</expression>
    </formulas>
    <interviewLabel>VOICECALL Routing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VOICECALL Routing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Update_VoiceCall</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account.sasAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <stringValue>Telephony</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FCS_EBLevel__c</field>
            <value>
                <elementReference>Get_Account.sasAccount.FCS_EBLevel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FCS_EBNumber__c</field>
            <value>
                <elementReference>eurobonusCleaned</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FCS_Language__c</field>
            <value>
                <elementReference>language</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Get_VoiceCall1.Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Case_RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>caseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedPhone</field>
            <value>
                <elementReference>Get_VoiceCall1.FromPhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team__c</field>
            <value>
                <stringValue>Frontline</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_RecordType</name>
        <label>Get Case RecordType</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_VoiceCall1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecordType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fallback_Queue_Id</name>
        <label>Get Fallback Queue Id</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Voice_FALLBACK_EN</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>queueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Id</name>
        <label>Get Queue Id</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>queueName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>queueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_VoiceCall</name>
        <label>Get VoiceCall</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Account_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VoiceCall</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_VoiceCall1</name>
        <label>Get VoiceCall</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VoiceCall</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_VoiceCall</name>
        <label>Update VoiceCall</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Get_VoiceCall</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Account.sasAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Caller_IVR_Language__c</field>
            <value>
                <elementReference>language</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Caller_IVR_Selection__c</field>
            <value>
                <elementReference>menuSelection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recipient_Country__c</field>
            <value>
                <elementReference>country</elementReference>
            </value>
        </inputAssignments>
        <object>VoiceCall</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Fallback_Queue_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Set_VoiceCall_Priority</targetReference>
        </connector>
        <flowName>VOICECALL_Get_Account</flowName>
        <inputAssignments>
            <name>euroBonusNumber</name>
            <value>
                <elementReference>euroBonusNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>iataNumber</name>
            <value>
                <elementReference>iataNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>menuSelection</name>
            <value>
                <elementReference>menuSelection</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Set_VoiceCall_Priority</name>
        <label>Set VoiceCall Priority</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Get_Queue_Id</targetReference>
        </connector>
        <flowName>VOICECALL_Set_Priority</flowName>
        <inputAssignments>
            <name>euroBonusLevel</name>
            <value>
                <elementReference>Get_Account.sasAccount.FCS_EBLevel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>iataLevel</name>
            <value>
                <elementReference>Get_Account.sasAccount.IATA_Level__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>voiceCallId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>euroBonusNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>iataNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>language</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>menuSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>queueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>region</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>screenPopups</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PendingServiceRoutingInteractionInfo</objectType>
    </variables>
</Flow>
