sas-core/main/default/flows/VOICECALL_AfterTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Has_Assigned_Case</name>
        <label>Has Assigned Case</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>No Assigned Case</defaultConnectorLabel>
        <rules>
            <name>Assigned_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Case</targetReference>
            </connector>
            <label>Assigned Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Out_Of_Business_Hours</name>
        <label>Is Out Of Business Hours</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>In Business Hours</defaultConnectorLabel>
        <rules>
            <name>Out_Of_Business_Hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Call_Outside_Operating_Hours__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Assigned_Case</targetReference>
            </connector>
            <label>Out Of Business Hours</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>VOICECALL_AfterTrigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VOICECALL_AfterTrigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Case</name>
        <label>Delete Case</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </filters>
        <object>Case</object>
    </recordDeletes>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Out_Of_Business_Hours</targetReference>
        </connector>
        <object>VoiceCall</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
